
.e-widget.e-slider.e-slider--nivo
	.nivoSlider
		img(src="demo/slider/nivo-1.jpg" alt title="#e-caption-1" data-transition="fade")
		img(src="demo/slider/nivo-2.jpg" alt title="#e-caption-2" data-transition="fade")
		img(src="demo/slider/nivo-3.jpg" alt title="#e-caption-3" data-transition="fade")
	
	.hidden
		#e-caption-1
			.e-slide.e-slide--nivo.container.e-padding_top--0.e-padding_bottom--0
				h2.e-slide__title.animated(data-animate="fadeInRight") New skills.
				h3.e-slide__subtitle.animated.e-animation_duration--02(data-animate="fadeInRight") Improved skills. Now
				p.e-slide__excerpt.animated.e-animation_duration--03.e-margin_top--05(data-animate="fadeInRight") The MBA course has given me the confidence to move ahead in my career. It gave me the opportunity to step back and reflect on what I do, how well I do it and where I can improve together with the toolkit to progress.
				a.e-button.e-button--primary.e-button--large.e-margin_top--07.animated.e-animation_duration--03(href=$e_single_url data-animate='fadeInRight') View Cources
		
		#e-caption-2
			.e-slide.e-slide--nivo.container
				h2.e-slide__title.animated(data-animate="fadeInRight") New skills.
				h3.e-slide__subtitle.animated.e-animation_duration--02(data-animate="fadeInRight") Improved skills. Now
				p.e-slide__excerpt.animated.e-animation_duration--03.e-margin_top--05(data-animate="fadeInRight") The MBA course has given me the confidence to move ahead in my career. It gave me the opportunity to step back and reflect on what I do, how well I do it and where I can improve together with the toolkit to progress.
				a.e-button.e-button--primary.e-button--large.e-margin_top--07.animated.e-animation_duration--03(href=$e_single_url data-animate='fadeInRight') View Cources

		#e-caption-3
			.e-slide.e-slide--nivo.container
				h2.e-slide__title.animated(data-animate="fadeInRight") New skills.
				h3.e-slide__subtitle.animated.e-animation_duration--02(data-animate="fadeInRight") Improved skills. Now
				p.e-slide__excerpt.animated.e-animation_duration--03.e-margin_top--05(data-animate="fadeInRight") The MBA course has given me the confidence to move ahead in my career. It gave me the opportunity to step back and reflect on what I do, how well I do it and where I can improve together with the toolkit to progress.
				a.e-button.e-button--primary.e-button--large.e-margin_top--07.animated.e-animation_duration--03(href=$e_single_url data-animate='fadeInRight') View Cources