.e-widget.e-courses--masonry.e-margin_top--09
	.e-caption.e-caption--with_icon.is-center.e-padding_bottom--08
		h3.e-caption--with_icon__title.e-caption--with_icon__title--relative.clearfix
			i.e-caption--with_icon__icon.fa.fa-bullhorn
			span.e-caption--with_icon__text Popular courses

		p.e-caption--with_icon__subtitle Quisque cursus in augue eget faucibus suspendisse vel mattis libero aliquam

	.e-courses__outer.animated.row
		- for (var $i=0; $i<6; $i++)

			- if( 0 == $i % 2 )
				.e-courses__course.is-md.col-lg-4.col-xs-6
					.e-course--medium_thumb

						.e-course__thumb
							img.e-course__thumb__img.img-responsive( src='demo/courses/masonry/1.jpg' )
							a.e-course__price.e-price--secondary( href='#' title='' )
								span.e-price__ins $122.230

						h5.is-md.e-course__title
							a.e-course__title__link( href='#' title='' ) Become a Startup Founder

						p.e-course__metadata
							span.e-icon--text_right.e-course__metadata__item
								i.e-icon__icon.fa.fa-book
								span.e-icon__text 5 Lessons

							i.e-course__metadata__item.is-other.e-course__rating.e-rating.e-rating--three.e-rating--small.e-rating--primary.fa

						p.e-course__excerpt Education is the process of facilitating learning. Knowledge, skills, values, beliefs, and habits ..

			- else
				.e-courses__course.is-lg.col-lg-4.col-xs-6
					.e-course--large_thumb
						.e-course__thumb
							img.e-course__thumb__img.img-responsive( src='demo/courses/masonry/2.jpg' )

						.e-course__outer
							.e-course__inner
								a.e-course__price.e-price--secondary( href='#' title='' )
									span.e-price__ins $122.230
								h5.is-md.e-course__title
									a.e-course__title__link( href='#' title='' ) Become a Startup Founder
