.e-custom-01{
	background-image: url( 'demo/bg/welcome.jpg' );
}

.e-custom-02{
	background-color: $bg_001;
}

.e-custom-03{
	background-color: $bg_002;
}

.e-custom-04{
	background-color: $bg_003;
}
