.e-custom-01{		
	background-image: url( 'demo/bg/welcome.jpg' );
	padding: $e_space_12 0px $e_space_03 0px;
}

.e-custom-02{
	background-color: $bg_001;
}

.e-custom-03{
	background-color: $bg_002;
	.e-widget-title.e-one{
		i{
			color: $e_title_color_02;
		}
		h3{
			color: $e_white;
		}
		p{
			color: $e_title_color_01;
		}
	}
}

.e-custom-04{
	background-color: $bg_003;
}


.e-custom-05{
	position: relative;
	padding: 0px $e_space_04 $e_space_03 $e_space_04;	
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		height: $e_space_11;
		@extend .e-bg-primary;
	}
}

.e-custom-06{
	padding: $e_space_03 $e_space_04;
}

.e-custom-07{
	margin: $e_space_05 0px;
}

.e-custom-08{
	background-color: $bg_004;
	.container{
		margin-top: -40px;
	}
}

.e-custom-09{
	margin-top: $e_space_14;
	margin-bottom: $e_space_03;
}

.e-custom-10{
	background-color: $bg_004;
}

.e-custom-11{
	&::after{
		background-image: url( 'demo/bg/counter.jpg' );
	}
	padding: $e_space_05 0px;
}

.e-custom-12{
	margin-top: -40px;
}