
body.e-home-01{
	position: relative;

	header{					
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 15;			
		
		.e-sub{
			margin: 15px 0px;			
			a{
				@extend .e-link-one;
				text-decoration: none;
			}
			span{
				color: $e_link_color_02;
			}
		}

		.e-sub,
		.e-main {
			position: relative;
			z-index: 20;
		}		

		.e-sub {
			.pull-right{
				@include inline-block();
				margin-left: 10px;
			}

		}

		.e-main {						
			background-color: $e_white;
			padding: 0px 25px;		
		}

		.e-logo{			
			margin: 25px 0px;
			a{
				display: block;
				line-height: 0px;
			}
		}
	}
}