article.e-article.e-article--avatar_left
	.row		
		.col-lg-10.col-lg-push-2
			.e-article__main_content.is-quote
				i.e-article__icon.fa.fa-quote-right

				h4.e-article__title.is-md
					a.e-article__link( href=$e_single_url title="" ) Your one stop solution for development needs
				
				quote.e-article__quote.e-quote--default
					.e-quote__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex.
					p.e-quote__author
						span.e-quote__author__prefix Write by 
						a.e-quote__author__link( href='#' ) Marken					
				
				.e-article__metadata.e-metadata.e-metadata--secondary.clearfix
					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-calendar
						span.e-metadata__item__text 26 April 2016
					
					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-comments-o
						span.e-metadata__item__text 1.335 Comments

					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-heart
						span.e-metadata__item__text 1.235 Likes
					
					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-eye
						span.e-metadata__item__text 356 Views
			
			.e-article__divider
