.e-widget.e-text.e-text--default.e-margin_top--11
	.e-call_to_action--icon_left
		i.e-call_to_action__icon.fa.fa-users
		span.e-call_to_action__text 3000+ People already Joined to our club, it’s the first step
		a.e-call_to_action__button.e-button.e-button--solid.is-large.is-uppercase(href="#" title='') Join to us now
