mixin e_load_stylesheet()
	- for (var $index=0; $index<$e_stylesheet.length; $index++)
		link(href=$e_stylesheet[$index] rel='stylesheet' type='text/css')
	link(href='style.css' rel='stylesheet' type='text/css')
	
mixin e_load_font()
	- for (var $index=0; $index<$e_font.length; $index++)
		link(href='https://fonts.googleapis.com/css?family='+$e_font[$index] rel='stylesheet' type='text/css')

mixin e_load_js()
	- for (var $index=0; $index<$e_js.length; $index++)
		script(src=$e_js[$index])

	- if ( $e_map_status )
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA62JY_t4hGDIW1-rG9pMZabWrD5el9cP0')
		script(src='js/gmaps.js')

	script(src='js/edusite-custom.js')
	script(src='js/edusite-init.js')

mixin e_ie_fix()
	|<!--[if lte IE 9]>
	|	<script src='js/html5shiv.js'></script>
	|	<script src='js/respond.js'></script>
	|	<script src='js/pie.js'></script>
	|<![endif]-->	

mixin e_get_site_container($classes)
	if $e_is_boxes
		- $classes += ' container'
	
	.e_site_container(class=$classes)
		block

mixin e_get_section_container($classes, $is_full_width)
	if !$e_is_boxes
		- $classes += ' container'
	else
		- $classes += ' container-fluid'
	
	.e_container(class=$classes)
		block
