.e-slider {		
	.nivoSlider{
		position: relative;
		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			z-index: 10;
			background-color: $e_black;
			@include opacity( 0.5 );
		}		
	}

	.nivo-caption{
		background: transparent;
		padding: 0px 0px 0px 0px;
		bottom: 90px;		
	}
	
	.nivo-caption,
	.nivo-prevNav,
	.nivo-nextNav{
		z-index: 15;
	}

	h2{
		@extend .e-font-two;
		@extend .e-heading-001;
		margin-top: 0px;
		margin-bottom: 0px;		
	}

	h3{
		@extend .e-font-two;
		@extend .e-heading-002;
		margin-top: 0px;
		margin-bottom: 5px;		
	}

	h2, h3, p {
		width: 50%;
		@extend .e-clear;
	}

	a{
		content: none;
	}
	
	p{
		margin-top: 30px;
		padding: 0px;
		color: $e_white;
	}

	.e-caption a{
		@extend .e-button-001;
		margin-top: 30px;
	}
}

.e-carousel {
	overflow: hidden;
	article{
		@extend .e-article-one;
	}
}

.e-count-down {
	.row{
		margin-left: -5px;
		margin-right: -5px;
		& > div{
			padding-left: 5px;
			padding-right: 5px;			
		}		
	}

	.e-number{
		@include border-radius( 5px );
		display: block;
		position:relative;
		background-color: $e_white;
		text-align: center;
		height: 95px;
		overflow: hidden;
		padding-top: 15px;

		b,
		span{
			display: block;
			position: relative;			
			z-index: 1;		
		}
	
		b{
			font-size: 36px;
			line-height: 42px;
			font-weight: 400;
		}

		span{
			font-size: 12px;
			line-height: 24px;
			text-transform: uppercase;						
		}

		&:after{
			display: block;
			position: absolute;
			top: 0px;
			left: 50%;
			right: 0px;
			bottom: 0px;
			content: '';
			border-left: 1px dashed #dde5f3;
			background-color: #f7f7f7;
			z-index: 0;
		}
	}	
}

.e-register {
	.row{
		margin-left: -7.5px;
		margin-right: -7.5px;
		& > div{
			padding-left: 7.5px;
			padding-right: 7.5px;			
		}		
	}

	input{
		width: 100%;
		margin-bottom: 15px;		
	}	
}

.e-welcome {
	.e-content{
		color: $e_title_color_01;
		padding: $e_space_12 0px;
	}

	.e-button{
		@extend .e-button-002;		
	}
}

.e-courses{
	article{
		@extend .e-article-one;
	}
}

.e-search-course{
	
	input, select {
		width: 100%;
	}
	
	input[type="text"]{
		background-color: $bg_004 !important;
	}

	input[type="submit"]{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		@extend .e-shadow-primary;
	}
}

.e-intro{
	
	&.e-first{
		.e-item{
			@extend .e-clear;
			i{
				display: block;
				float: left;			
				height: $e_space_03;
				line-height: $e_space_03;
				font-size: $e_space_03;
				margin-right: $e_space_13;
			}
			margin-bottom: $e_space_13;
		}
	}

	&.e-second{
		.e-item{
			@extend .e-clear;

			i{
				display: block;
				float: left;			
				width: $e_space_15;
				height: $e_space_15;
				line-height: $e_space_15;
				font-size: $e_space_03;
				text-align: center;
				position: relative;
				border: 2px solid $rgba_primary_01;
				margin-right: $e_space_13;

				&, &::after{
					@include border-radius( 50% );
				}		

				&::before{
					position: relative;
					z-index:2;
					color: $e_white;					
				}		

				&::after{
					content: '';
					display: block;
					position: absolute;
					top: 10px;
					left: 10px;
					bottom: 10px;
					right: 10px;
					background-color: $rgba_primary_01;
					z-index: 1;
				}
			}

			b, span{
				display: block;
			}

			b{
				font-size: 40px;
				line-height: 60px;
				color: $e_white;
				position: relative;
				padding-bottom: 30px;
				&::after{
					content: '';
					display: block;
					position: absolute;
					bottom: 20px;
					left: 150px;
					width: 90px;
					height: 1px;
					background-color: $rgba_light_02;
				}
			}

			span{
				font-size: 18px;
				line-height: 24px;
				color: $e_title_color_01;
			}
		}
	}
}