.e-bg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}


.e-slider{}

.e-carousel{}

.e-count-down{}

.e-image{}

.e-register{}

.e-welcome{}