- var $e_mainsite_url = 'http://colourstheme.com'


- var $e_stylesheet = []
- $e_stylesheet[0]  = ['css/bootstrap.css']
- $e_stylesheet[1]  = ['css/font-awesome.css']
- $e_stylesheet[2]  = ['css/font-themify.css']
- $e_stylesheet[3]  = ['css/font-elegant.css']
- $e_stylesheet[4]  = ['css/animate.css']
- $e_stylesheet[5]  = ['css/jquery-owl-carousel.css']
- $e_stylesheet[6]  = ['css/jquery-owl-transitions.css']
- $e_stylesheet[7]  = ['css/jquery-superfish.css']
- $e_stylesheet[8]  = ['css/jquery-nivo-slider.css']
- $e_stylesheet[9]  = ['css/jquery-slick.css']
- $e_stylesheet[10] = ['css/jquery-slick-theme.css']
- $e_stylesheet[11] = ['css/jquery-lightcase.css']
- $e_stylesheet[12] = ['css/jquery-nice-select.css']
- $e_stylesheet[13] = ['addon/media-element-js/mediaelementplayer.css']
- $e_stylesheet[14] = ['addon/media-element-js/mejs-skins.css']

- var $e_js = []
- $e_js[0]  = ['js/modernizr.js']
- $e_js[1]  = ['js/jquery.js']
- $e_js[2]  = ['js/underscore.js']
- $e_js[3]  = ['js/bootstrap.js']
- $e_js[4]  = ['js/jquery-fitvids.js']
- $e_js[5]  = ['js/jquery-owl-carousel.js']
- $e_js[6]  = ['js/jquery-superfish.js']
- $e_js[7]  = ['js/jquery-matchheight.js']
- $e_js[8]  = ['js/jquery-nivo-slider.js']
- $e_js[9]  = ['js/jquery-slick.js']
- $e_js[10] = ['js/jquery-lightcase.js']
- $e_js[11] = ['js/jquery-appear.js']
- $e_js[12] = ['js/jquery-easing.js']
- $e_js[13] = ['js/countdown.js']
- $e_js[14] = ['js/jquery-hover-intent.js']
- $e_js[15] = ['js/masonry.js']
- $e_js[16] = ['js/imagesloaded-pkgd.js']
- $e_js[17] = ['js/jquery-nice-select.js']
- $e_js[18] = ['addon/media-element-js/mediaelement-and-player.js']

- var $e_font           = ['Source+Sans+Pro:400,400i,700,700i', 'Montserrat:300,400,700' ]
- var $e_logo           = 'demo/logo.png'
- var $e_logo_secondary = 'demo/logo-secondary.png'
- var $e_top_banner     = 'placehold/banner/468x60.png'
- var $e_home_url       = 'index.html'
- var $e_archive_url    = 'blog.html'
- var $e_single_url     = 'single-post.html'
- var $e_titles_m       = ["Computers are useless. They can only give you answers", "Hardware: the parts of a computer that can be kicked", "The real problem is not whether machines think but whether men do", "Computers are like bikinis. They save people a lot of guesswork", "Technology is a useful servant but a dangerous master", "Technology has to be invented or adopted"]
- var $e_titles_sm     	= ["A real conversation about employee", "Chinese shares drop in 2015 dramatic slide", "Tricks and tips for Adobe Photoshop 2015"]
- var $e_titles         = ["Let's make things better", "The miracles of science", "Better sound through research", "We bring good things to life", "Making great things possible", "The programmable logic company", "Simple solutions for complex connections"]
- var $e_dates          = ["May 21, 2015", "May 12, 2015", "May 1, 2015", "Apr 7, 2015", "Feb 15, 2015","Jan 2, 2015"]
- var $e_days           = ["21", "12", "1", "7", "15","2"]
- var $e_months         = ["May", "May", "May", "Apr", "Feb","Jan"]
- var $e_years          = ["2015", "2015", "2015", "2015", "2015","2015"]
- var $e_dates_small    = ['03.04.2015', '05.06.2015','12.07.2015','24.07.2015','07.08.2015','16.12.2015',]
- var $e_comments       = ["3 Comments", "12 Comments", "0 Comment", "6 Comments", "4 Comments", "0 Comment"]
- var $e_comments_s     = [3, 12, 5, 6, 4, 9, 24, 18]
- var $e_icons          = ['fa-thumb-tack', 'fa-play', 'fa-headphones', 'fa-camera', 'fa-quote-left', 'fa-play']
- var $e_formats        = ["blog", "video", "audio", "gallery", "quote", "video"]
- var $e_rates          = [65, 75, 85, 65, 92, 69]
- var $e_rates_label    = ["Design", "Typography", "Spacing", "Content", "Seo", "Security"]
- var $e_readmore       = "Read more"
- var $e_content        = "Technology frightens me to death. It’s designed by engineers to impress other engineers. And they always come with instruction booklets that are written by engineers for other engineers — which is why almost no technology ever works."
- var $e_excerpt_s      = "All this modern technology just makes people try to do everything at once."
- var $e_excerpt        = "Books may look like nothing more than words on a page, but they are actually an infinitely complex imaginotransference technology that translates odd, inky squiggles into pictures inside your head."
- var $e_excerpt_m      = "The greatest achievement of humanity is not its works of art, science, or technology, but the recognition of its own dysfunction."
- var $e_post           = ["Technology has two faces. We all feel it, but sometimes can’t find words to describe it. Ebooks are the best example to show the 0-1 nature of emotions the technology evokes. On one side, there is a beautiful, calming world of printed books and reading. Free from electronic-based impatience, distractions, and failures.", "Keeping calm and quiet is not necessarily pushing the world forward. And here comes the opposite attitude. Technology brings the excitement, helps look into the future, and make us brave enough to try to shape it.", 'Cory Doctorow said once "This is why I loved technology: if you used it right, it could give you power and privacy. The whole idea is not about the choice between using or not using technology". The challenge is to use it right.', 'Some of the quotes are visualized to let you easier share them in social networks. A bit of reflection on how deeply we depend on technology is good for anyone, especially the one who spends too much time in social media networks.', 'Please suggest the technology quotes that are missing here, as well as which ones you’d like to see as images.']
- var $e_tweets         = ["The most technologically efficient machine that man has ever invented is the book.", "Technology is a word that describes something that doesn’t work yet."]
- var $e_tweets_authors = ["northrop_frye", "douglas_adams"]
- var $share_buttons    = ['facebook', 'twitter', 'pinterest', 'tumblr', 'google-plus', 'dribbble']
- var $is_load_maps_api = false;
- var $e_is_demo        = true;
- var $e_is_boxes       = false;


- var $quotes = []
- $quotes[0]  = "It is not my intention to be fulsome, but I confess that I covet your skull."
- $quotes[1]  = "The authority of those who teach is often an obstacle to those who want to learn."
- $quotes[2]  = "I was perhaps the worst student you have ever seen. You know, I thought I was stupid, all my classmates thought I was stupid, so there was general agreement."
- $quotes[3]  = "By making college unaffordable and student loans unbearable, we risk deterring our best and brightest from pursuing higher education and securing a good-paying job."


- var $quote_authors = []
- $quote_authors[0] = [ "Gerald Chertavian", "Australia", "Designer" ]
- $quote_authors[1] = [ "Victor Hugo", "France", "Poet" ]
- $quote_authors[2] = [ "Rod Taylor", "Italy", "Developer" ]
- $quote_authors[3] = [ "Daniel Goleman", "Marocco", "Supporter" ]