footer.e-footer.e-footer--default
	section.e-section.e-footer__widgets.is-dark.e-padding_top--14
		.container
			.row
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					- var $widget_title_style = 'border_bottom'
					- var $widget_title_class = ''
					- var $widget_title_icon  = 'fa fa-cogs'
					- var $widget_title       = 'About'									
					include ../jade/blocks/contact/_info.jade

				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					- var $widget_title_style = 'border_bottom'
					- var $widget_title_class = ''
					- var $widget_title_icon  = 'fa fa-ellipsis-v'
					- var $widget_title       = 'Links'							
					include ../jade/blocks/category/_list_two_cols.jade

				.e-footer__separator.col-xs-12

				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					- var $widget_title_style = 'border_bottom'
					- var $widget_title_class = ''
					- var $widget_title_icon  = 'fa fa-twitter'
					- var $widget_title       = 'Latest Tweets'							
					include ../jade/blocks/socials/_list_tweets.jade

				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					- var $widget_title_style = 'border_bottom'
					- var $widget_title_class = ''
					- var $widget_title_icon  = 'ti-email'
					- var $widget_title       = 'Quick Contact'							
					include ../jade/blocks/contact/_form.jade
			
	section.e-section.e-footer__info.is-dark
		.container
			.e-divider.e-divider--solid

		.container.e-padding_top--10.e-padding_bottom--08			
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-12.e-footer__info__left
					include ../jade/blocks/contact/_copyright.jade

				.col-lg-6.col-md-6.col-sm-6.col-xs-12.e-footer__info__right
					include ../jade/blocks/socials/_socials_default.jade

	.e-scripts.hidden
		+e_load_js()