include jade/_config.jade
include jade/mixins/_alex.jade

doctype
html( lang="en-US" prefix="og: http://ogp.me/ns#" )

	include jade/_head.jade

	body.e-body.e-body--relative.e-body--home

		include jade/blocks/header/_deault.jade

		.e-main_content

			section.e-section.e-demo__row--00
				.e-container--full
					.row
						.col-lg-12
							.e-col.clearfix
								include jade/blocks/slider/_nivo.jade

			section.e-section.e-demo__row--01.e-bg_color--07
				.container
					.row.e-height--match
						.col-lg-8
							.e-col.clearfix
								include jade/blocks/courses/_carousel.jade
						.col-lg-4
							.e-col.e-bg_color--10
								include jade/blocks/count_down/_first.jade
								include jade/blocks/form/_register.jade

			section.e-section.e-demo__row--02.has-overlay.e-padding_bottom--09
				.container
					.row
						.col-lg-5.col-md-offset-1
							.e-col.clearfix
								include jade/blocks/misc/_banner.jade

						.col-lg-5
							.e-col.clearfix
								include jade/blocks/misc/_welcome.jade

			section.e-section.e-demo__row--03.e-bg_color--07
				.container
					.row
						.col-lg-12
							.e-col.e-col--box.is-md.clearfix.e-margin_top--09__negative
								include jade/blocks/courses/_search.jade

								section.e-section.e-section--child
									.row
										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'icon-basic-lightbulb'
												- var $intro_desc = 'Over 400 Students Enrolled Learn Skills'
												include jade/blocks/elements/_intro-1st.jade

										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'icon-basic-book'
												- var $intro_desc = 'More than 3020 Online Courses Available'
												include jade/blocks/elements/_intro-1st.jade

										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'fa fa-users'
												- var $intro_desc = 'More than 320 Instructors Available'
												include jade/blocks/elements/_intro-1st.jade

			section.e-section.e-demo__row--04.e-bg_color--07
				.container
					.row
						.col-lg-12
							.e-col.clearfix.e-margin_bottom--08
								include jade/blocks/courses/_grid.jade

			section.e-section.e-demo__row--05.e-section--dark.has-overlay
				.container.e-padding_top--12.e-padding_bottom--12
					.row
						.col-lg-4
							.e-col.clearfix.e-margin_top--05
								- var $intro_icon   = 'fa fa-graduation-cap'
								- var $intro_number = '190'
								- var $intro_desc   = 'Countries reached'
								include jade/blocks/elements/_intro-2nd.jade

						.col-lg-4
							.e-col.clearfix.e-margin_top--05
								- var $intro_icon   = 'fa fa-book'
								- var $intro_number = '25000'
								- var $intro_desc   = 'Passed graduates'
								include jade/blocks/elements/_intro-2nd.jade

						.col-lg-4
							.e-col.clearfix.e-margin_top--05
								- var $intro_icon   = 'fa fa-users'
								- var $intro_number = '3400'
								- var $intro_desc   = 'Courses published'
								include jade/blocks/elements/_intro-2nd.jade

			section.e-section.e-demo__row--06.e-bg_color--07
				.container
					.row
						.col-lg-6
							.e-col.e-col--box.is-md.clearfix.e-margin_top--09__negative.e-margin_bottom--12
								include jade/blocks/elements/_accordion-1st.jade
						.col-lg-6
							.e-col.clearfix.e-margin_bottom--12
								include jade/blocks/testimonials/_carousel.jade

			section.e-section.e-demo__row--07.e-section--dark.has-overlay
				.container
					.row
						.col-lg-12
							.e-col.clearfix
								include jade/blocks/video/_centered.jade

			section.e-section.e-demo__row--08
				.container
					.row
						.col-lg-12
							.e-col.clearfix.e-margin_bottom--12
								include jade/blocks/posts/_grid_two_cols.jade

		include jade/_footer.jade
