include jade/base/_config.jade
include jade/base/_mixins.jade

doctype
html( lang="en-US" prefix="og: http://ogp.me/ns#" )

	include jade/header/__/_head.jade

	body.e-home-01
				
		header
			.container
				.e-sub.clearfix
					a.pull-left(href='mailto:support@colourstheme.com') support@colourstheme.com
									
					a.pull-right(href="#register") Login
					span.pull-right.e-divider /
					a.pull-right(href="#register") Register

				.e-main.clearfix
					h1.e-logo.pull-left
						a(href=$e_home_url title='')
							img(src=$e_logo alt='')
					nav.e-navigation.pull-right
						include jade/nav/_primary.jade
		
		#e-body
			
			include jade/block/home/_slider.jade

			section.e-section.e-custom-02
				.container
					.row.e-match-height
						.col-lg-8
							.e-col
								include jade/block/home/_carousel.jade
						.col-lg-4
							.e-col.e-custom-04
								include jade/block/home/_count-down.jade
								include jade/block/home/_register.jade			

			section.e-section.e-bg.e-overlay.e-custom-01
				.container
					.row
						.col-lg-5.col-md-offset-1
							include jade/block/home/_image.jade

						.col-lg-5			
							include jade/block/home/_welcome.jade							
			
			section.e-section.e-custom-08
				.container.e-box
					include jade/block/home/_search-course.jade

					include jade/block/home/_intro.jade

			section.e-section.e-custom-10
				.container			
					include jade/block/home/_courses.jade

			section.e-section.e-parallax.e-bg.e-overlay.e-custom-11
				.container
					include jade/block/home/_icons.jade	

			section.e-section.e-custom-10
				.container
					.col-lg-6
						include jade/block/home/_accordions.jade
					.col-lg-6
						include jade/block/home/_testimonials.jade

			section.e-section.e-parallax.e-bg.e-overlay.e-custom-11
				include jade/block/home/_video.jade

			section.e-section
				.container
					include jade/block/home/_blog.jade

		footer.container
			include jade/footer/__/_footer.jade