include jade/_config.jade
include jade/mixins/_alex.jade

doctype
html( lang="en-US" prefix="og: http://ogp.me/ns#" )

	include jade/_head.jade

	body.e-body.e-body--home_second

		header.e-header.e-header--secondary

			section.e-section.e-section--split
				.container.e-section__outer
					.row.e-row--noSpace.e-height--match
						.col-lg-3
							.e-header__site_logo.e-col.clearfix
								h1.e-logo.e-logo--secondary.e-margin_top--05.e-margin_bottom--05
									a.e-logo__link(href=$e_home_url title='')
										img.e-logo__img(src=$e_logo_secondary alt='')


						.col-lg-9
							.e-header__site_info.e-col.clearfix
								.row.e-header__site_info__outer
									.col-lg-3.e-header__card.e-card--icon_left
										i.e-card__icon.fa.fa-map-marker.pull-left
										p.e-card__content
											|0258 Hans Centers
											br
											|Cristoballand, USA

									.col-lg-3.e-header__card.e-card--icon_left
										i.e-card__icon.fa.fa-phone.pull-left
										p.e-card__content
											|Any question at
											br
											|1-800-23-456-7890

									.col-lg-3.e-header__card.e-card--icon_left
										i.e-card__icon.fa.fa-clock-o.pull-left
										p.e-card__content
											|9am - 8pm
											br
											|Mon - Sat

									.col-lg-3.e-header__call_to_action
										a.e-button.e-button--fill.is-primary.is-medium_secondary.is-fullwidth.is-uppercase(href="#") Get a free quote

			section.e-section.e-header__nav
				.container
					nav.e-navigation.pull-left
						include jade/blocks/nav/_secondary.jade

					.e-header__icon_links.pull-right
						a.e-header__icon_links__link.is-cart
							i.e-header__icon_links__link__icon.fa.fa-shopping-cart
							span.e-header__icon_links__link__count 2

						a.e-header__icon_links__separator |

						a.e-header__icon_links__link.is-circle
							i.e-header__icon_links__link__icon.fa.fa-search

					.e-header__auth_links.pull-right
						a.e-header__auth_links__link(href="#login") Login
						span.e-header__auth_links__separator /
						a.e-header__auth_links__link(href="#register") Register

		.e-main_content

			section.e-section.e-demo__row--02.has-overlay.e-demo__row--01.is-dark.is-hidden-overflow
				.container
					.row
						.col-lg-12
							.e-col.cleafix
								section.e-section.e-section--child.e-padding_top--15.e-padding_left--12.e-padding_right--12
									.row
										.col-lg-12
											.e-col.clearfix
												include jade/blocks/courses/_find_course.jade

								section.e-section.e-section--child.e-padding_bottom--15.e-padding_left--12.e-padding_right--12
									.row
										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'icon-basic-lightbulb'
												- var $intro_desc = 'Over 400 Students Enrolled Learn Skills'
												include jade/blocks/elements/_intro-1st.jade

										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'icon-basic-book'
												- var $intro_desc = 'More than 3020 Online Courses Available'
												include jade/blocks/elements/_intro-1st.jade

										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'fa fa-users'
												- var $intro_desc = 'More than 320 Instructors Available'
												include jade/blocks/elements/_intro-1st.jade

								section.e-section.e-section--child
									.row.e-row--noSpace
										.col-lg-4
											.e-col.clearfix
												.e-widget.e-card--icon_circle.is-primary
													i.e-card__icon.fa.fa-graduation-cap.pull-left
													p.e-card__title
														|Courses
														br
														|Management
													.e-card__hover.e-card--icon_circle.is-secondary
														i.e-card__icon.fa.fa-graduation-cap.pull-left
														p.e-card__title
															|Courses
															br
															|Management
														.e-card__content.clearfix Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit.


										.col-lg-4
											.e-col.clearfix
												.e-widget.e-card--icon_circle.is-primary
													i.e-card__icon.fa.fa-book.pull-left
													p.e-card__title
														|Teacher
														br
														|Management
													.e-card__hover.e-card--icon_circle.is-secondary
														i.e-card__icon.fa.fa-book.pull-left
														p.e-card__title
															|Teacher
															br
															|Management
														.e-card__content.clearfix Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit.

										.col-lg-4
											.e-col.clearfix
												.e-widget.e-card--icon_circle.is-primary
													i.e-card__icon.fa.fa-calendar-plus-o.pull-left
													p.e-card__title
														|Events
														br
														|with Style

													.e-card__hover.e-card--icon_circle.is-secondary
														i.e-card__icon.fa.fa-calendar-plus-o.pull-left
														p.e-card__title
															|Events
															br
															|with Style
														.e-card__content.clearfix Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit.

			section.e-section.e-demo__row--03.e-padding_top--11.e-padding_bottom--11
				.container
					.row
						.col-lg-8
							.e-col.cleafix

								.e-widget.e-text.e-text--default
									h4.is-sm.is-regular With thousands of academic programs, world-class institutions, and unmatched flexibility, the United States offers a wealth of higher-education opportunities that you will not find anywhere else in the world!
									.e-space--05.clearfix
									p EducationUSA is a U.S. Department of State network of over 400 international student advising centers in more than 170 countries. The network promotes U.S. higher education to students around the world by offering accurate, comprehensive, and current information about opportunities to study at accredited postsecondary institutions in the United States. EducationUSA also provides services to the U.S. higher education community to help institutional leaders meet their recruitment and campus internationalization goals. EducationUSA is your official source on U.S. higher education.

						.col-lg-3.col-lg-push-1
							.e-col.cleafix

								.e-widget.e-text.e-text--default
									.e-caption.e-caption--medium.e-margin_bottom--07
										h4.is-md.is-bold.is-upppercase.e-caption__title.clearfix Quick Links

									p.e-quick_link--primary
										a(href='#' title='').e-quick_link__link
											span.e-quick_link__text 5 Steps to U.S. Study
											i.e-quick_link__icon.arrow_right

									p.e-quick_link--primary
										a(href='#' title='').e-quick_link__link
											span.e-quick_link__text Find an Advising Center
											i.e-quick_link__icon.arrow_right

									p.e-quick_link--primary
										a(href='#' title='').e-quick_link__link
											span.e-quick_link__text Financial Aid
											i.e-quick_link__icon.arrow_right

									p.e-quick_link--primary
										a(href='#' title='').e-quick_link__link
											span.e-quick_link__text Events
											i.e-quick_link__icon.arrow_right

			section.e-section.has-overlay.has-overlay_dark.is-dark.e-demo__row--04.e-padding_top--11.e-padding_bottom--11
				.container
					.row
						.col-lg-5
							.e-col.cleafix

								.e-widget.e-text.e-text--default
									.e-card--image_shadow
										a(href="#" title="").e-card__link
											img(src='demo/card/image-shadow/1.jpg' alt='').e-card__img

						.col-lg-7
							.e-col.cleafix.e-padding_left--04
								.e-widget.e-count_down--secondary
									.e-caption.e-caption--medium.e-margin_bottom--07
										h4.is-md.is-bold.is-upppercase.e-caption__title.clearfix Upcomming Event


									h4.e-count_down__caption.is-md.is-regular Annual meetup and scholarship presentation

									.e-count_down__info.e-info.e-info--iconLeft
										i.e-info__icon.ti-map-alt
										|198 Lost Angles Avenue, US

									.e-count_down__info.e-info.e-info--iconLeft
										i.e-info__icon.fa.fa-calendar
										|December 10, 2016


									.e-count_down__counter.clearfix(data-datetime='2016,12,10')

										.e-count_down__date.e-date_block--solid.e-date--days
											b.e-date_block__number 14
											span.e-date_block__text days

										.e-count_down__divider

										.e-count_down__date.e-date_block--solid.e-date--hours
											b.e-date_block__number 00
											span.e-date_block__text hours

										.e-count_down__divider

										.e-count_down__date.e-date_block--solid.e-date--minutes
											b.e-date_block__number 44
											span.e-date_block__text minutes

										.e-count_down__divider

										.e-count_down__date.e-date_block--solid.e-date--seconds
											b.e-date_block__number 24
											span.e-date_block__text seconds

										a(href="#" title='').e-count_down__button.e-field.e-field--submit.e-button.e-button--fill.is-primary.is-huge Join Now

			section.e-section.e-demo__row--05.e-padding_bottom--11.e-bg_color--07
				.container
					.row
						.col-lg-12
							.e-col.cleafix

								.e-widget.e-courses--masonry.e-margin_top--09
									.e-caption.e-caption--withIcon.is-center.e-padding_bottom--08
										h3.e-caption--withIcon__title.e-caption--withIcon__title--relative.clearfix
											i.e-caption--withIcon__icon.fa.fa-bullhorn
											span.e-caption--withIcon__text Popular courses

										p.e-caption--withIcon__subtitle Quisque cursus in augue eget faucibus suspendisse vel mattis libero aliquam

									.e-courses__outer.animated.row(id='abc_xyz')
										- for (var $i=0; $i<6; $i++)

											- if( 0 == $i % 2 )
												.e-courses__course.is-md.col-lg-4.col-xs-6
													.e-course--medium_thumb

														.e-course__thumb
															img.e-course__thumb__img.img-responsive( src='demo/courses/masonry/1.jpg' )
															a.e-course__price.e-price--secondary( href='#' title='' )
																span.e-price__ins $122.230

														h5.is-md.e-course__title
															a.e-course__title__link( href='#' title='' ) Become a Startup Founder

														p.e-course__metadata
															span.e-icon--text_right.e-course__metadata__item
																i.e-icon__icon.fa.fa-book
																span.e-icon__text 5 Lessons

															i.e-course__metadata__item.is-other.e-course__rating.e-rating.e-rating--three.e-rating--small.e-rating--primary.fa

														p.e-course__excerpt Education is the process of facilitating learning. Knowledge, skills, values, beliefs, and habits ..

											- else
												.e-courses__course.is-lg.col-lg-4.col-xs-6
													.e-course--large_thumb
														.e-course__thumb
															img.e-course__thumb__img.img-responsive( src='demo/courses/masonry/2.jpg' )

														.e-course__outer
															.e-course__inner
																a.e-course__price.e-price--secondary( href='#' title='' )
																	span.e-price__ins $122.230
																h5.is-md.e-course__title
																	a.e-course__title__link( href='#' title='' ) Become a Startup Founder

								.e-widget.e-text.e-text--default.e-margin_top--11
									.e-call_to_action--icon_left
										i.e-call_to_action__icon.fa.fa-users
										span.e-call_to_action__text 3000+ People already Joined to our club, it’s the first step
										a.e-call_to_action__button.e-button.e-button--solid.is-large.is-uppercase(href="#" title='') Join to us now

			section.e-section.has-overlay.is-dark.e-demo__row--06.e-padding_top--11.e-padding_bottom--11
				.container
					.row
						.col-lg-5
							.e-col.cleafix

								.e-widget.e-events--one_col
									.e-events__outer
										- for (var $i=0; $i<2; $i++)
											.e-events__item

												.e-events__item__datetime
													.e-date_block--border_top
														span.e-date_block__month Nov
														span.e-date_block__day 14
														span.e-date_block__year 2016

												.e-events__item__summary
													a(href='#' title='').e-events__item__sub_title In-Person Event

													h5.is-xs.is-uppercase.e-events__item__title
														a.e-events__item__title__link(href='#' title='') 2016 LLM Tour in Europe
														i.e-events__item__title__icon.arrow_right

													p.e-events__item__location
														span.e-events__item__location__label Locations:
														a.e-events__item__location__link(href='#' title='') Netherlands

						.col-lg-7
							.e-col.cleafix


		include jade/_footer.jade