include jade/_config.jade
include jade/mixins/_alex.jade

doctype
html( lang="en-US" prefix="og: http://ogp.me/ns#" )

	include jade/_head.jade

	body.e-body.e-body--home_second

		include jade/blocks/header/_second.jade

		.e-main_content

			section.e-section.e-demo__row--01.has-overlay.is-dark.is-hidden-overflow
				.container
					.row
						.col-lg-12
							.e-col.cleafix
								section.e-section.e-section--child.e-padding_top--13.e-padding_left--12.e-padding_right--12
									.row
										.col-lg-12
											.e-col.clearfix
												include jade/blocks/courses/_find_course.jade

								section.e-section.e-section--child.e-padding_bottom--14.e-padding_left--12.e-padding_right--12
									.row
										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'fa fa-graduation-cap'
												- var $intro_desc = 'Over 400 Students Enrolled Learn Skills'
												include jade/blocks/elements/_intro-1st.jade

										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'fa fa-book'
												- var $intro_desc = 'More than 3020 Online Courses Available'
												include jade/blocks/elements/_intro-1st.jade

										.col-lg-4
											.e-col.clearfix
												- var $intro_icon = 'fa fa-users'
												- var $intro_desc = 'More than 320 Instructors Available'
												include jade/blocks/elements/_intro-1st.jade

								section.e-section.e-section--child
									.row.e-row--no_space
										.col-lg-4
											.e-col.clearfix
												- var $card_title_1 = 'Courses'
												- var $card_title_2 = 'Management'
												- var $card_excerpt = 'Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit.'
												include jade/blocks/card/_icon_circle.jade

										.col-lg-4
											.e-col.clearfix
												- var $card_title_1 = 'Teacher'
												- var $card_title_2 = 'Management'
												- var $card_excerpt = 'Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit.'
												include jade/blocks/card/_icon_circle.jade

										.col-lg-4
											.e-col.clearfix
												- var $card_title_1 = 'Events'
												- var $card_title_2 = 'with Style'
												- var $card_excerpt = 'Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit.'
												include jade/blocks/card/_icon_circle.jade

			section.e-section.e-demo__row--02.e-padding_top--11.e-padding_bottom--11
				.container
					.row
						.col-lg-8
							.e-col.cleafix

								.e-widget.e-text.e-text--default
									h4.is-sm.is-regular With thousands of academic programs, world-class institutions, and unmatched flexibility, the United States offers a wealth of higher-education opportunities that you will not find anywhere else in the world!
									.e-space--05.clearfix
									p EducationUSA is a U.S. Department of State network of over 400 international student advising centers in more than 170 countries. The network promotes U.S. higher education to students around the world by offering accurate, comprehensive, and current information about opportunities to study at accredited postsecondary institutions in the United States. EducationUSA also provides services to the U.S. higher education community to help institutional leaders meet their recruitment and campus internationalization goals. EducationUSA is your official source on U.S. higher education.

						.col-lg-3.col-lg-push-1
							.e-col.cleafix

								.e-widget.e-text.e-text--default
									.e-caption.e-caption--medium.e-margin_bottom--07
										h4.is-md.is-bold.is-uppercase.e-caption__title.clearfix Quick Links

									- var $link_text = '5 Steps to U.S. Study'
									- var $link_icon = 'arrow_right'
									include jade/blocks/quick_link/_primary.jade

									- var $link_text = 'Find an Advising Center'
									- var $link_icon = 'arrow_right'
									include jade/blocks/quick_link/_primary.jade

									- var $link_text = 'Financial Aid'
									- var $link_icon = 'arrow_right'
									include jade/blocks/quick_link/_primary.jade

									- var $link_text = 'Events'
									- var $link_icon = 'arrow_right'
									include jade/blocks/quick_link/_primary.jade

			section.e-section.e-demo__row--03.has-overlay.has-overlay_dark.is-dark.e-padding_top--11.e-padding_bottom--11
				.container
					.row
						.col-lg-5
							.e-col.cleafix
								.e-widget.e-text.e-text--default
									include jade/blocks/card/_image_shadow.jade

						.col-lg-7
							.e-col.cleafix.e-padding_left--04
								include jade/blocks/count_down/_secondary.jade

			section.e-section.e-demo__row--04.e-padding_bottom--11.e-bg_color--07
				.container
					.row
						.col-lg-12
							.e-col.cleafix
								include jade/blocks/courses/_masonry.jade
								include jade/blocks/call_to_action/_icon_left.jade

			section.e-section.e-demo__row--05.has-overlay.is-dark.e-padding_top--11.e-padding_bottom--11
				.container
					.row
						.col-lg-5
							.e-col.cleafix
								include jade/blocks/events/_one_col.jade

						.col-lg-7
							.e-col.cleafix
								include jade/blocks/testimonials/_carousel_with_nav.jade

			section.e-section.e-demo__row--06.e-padding_bottom--11.e-bg_color--07
				.container
					.row
						.col-lg-10.col-lg-push-1
							.e-col.cleafix

								include jade/blocks/count_down/_circle.jade

								.e-widget.e-text.e-text--default.e-margin_top--07
									h4.is-sm.is-centered.is-regular
										|Create your free account now and get immediate
										br
										| access to 100s of online courses

								include jade/blocks/form/_secondary.jade

			section.e-section.e-demo__row--07.e-section--dark.has-overlay
				.container
					.row
						.col-lg-12
							.e-col.clearfix
								include jade/blocks/video/_centered.jade

			section.e-section.e-demo__row--08.e-bg_color--07.e-padding_bottom--04
				.container
					.row
						.col-lg-12
							.e-col.clearfix
								include jade/blocks/posts/_metadata_toggle.jade

		include jade/_footer_secondary.jade
