include jade/_config.jade
include jade/mixins/_alex.jade

doctype
html( lang="en-US" prefix="og: http://ogp.me/ns#" )

	include jade/_head.jade

	body.e-body.e-body--relative.e-body--sub.e-body_blog--two_cols

		header.e-header.e-header--fixed
			.container
				.e-header_top.row
					.col-lg-6
						nav.e-top_menu.e-top_menu--left
							ul.e-top_menu__links
								li.e-top_menu__link.e-top_menu__link--lvl_0
									a.e-top_menu__url(href='mailto:support@colourstheme.com') support@colourstheme.com
					.col-lg-6
						nav.e-top_menu.e-top_menu--right
							ul.e-top_menu__links
								li.e-top_menu__link.e-top_menu__link--lvl_0
									a.e-top_menu__url(href="#login") Login
								li.e-top_menu__link.e-top_menu__link--lvl_0.is-other
									a.e-top_menu__url(href="#register") Register
				
				.e-header_bottom.e-header_bottom--fixed.clearfix
					h1.e-logo.e-logo--left
						a.e-logo__link(href=$e_home_url title='')
							img.e-logo__img(src=$e_logo alt='')

					nav.e-navigation.pull-right
						include jade/blocks/nav/_primary.jade
		
		.e-main_content
			
			section.e-section.e-demo__row--0.e-section--dark.e-padding_top--15.has-overlay
				.e-container.container
					.row
						.col-lg-12
							.e-col.clearfix.e-margin_top--13.e-margin_bottom--13
								- var $breadcrumb_caption = 'Single Course'
								- var $breadcrumb_current = 'Course'								
								include jade/blocks/breadcrumbs/_centered.jade
				
				include jade/blocks/singular/course/_page_title.jade

			section.e-section.e-bg_color--07
				.container
					.row
						.col-lg-12
							.e-col.e-col--box.clearfix.is-sm.e-margin_top--13__negative								
								section.e-section.e-margin_top--0
									.row
										.col-lg-6
											.e-col.clearfix
												include jade/blocks/video/_video_course.jade

										.col-lg-6
											.e-col.clearfix
												include jade/blocks/singular/course/_general_info.jade

			section.e-section.e-bg_color--07.e-margin_top--07
				.container
					.row
						.col-lg-12
							.e-col.clearfix Hello




		include jade/_footer.jade
