include jade/_config.jade
include jade/mixins/_alex.jade

doctype
html( lang="en-US" prefix="og: http://ogp.me/ns#" )

	include jade/_head.jade

	body.e-body.e-body--relative.e-body--sub.e-body_course--default

		include jade/blocks/header/_deault.jade

		.e-main_content

			section.e-section.e-demo__row--0.e-section--dark.e-padding_top--15.has-overlay
				.e-container.container
					.row
						.col-lg-12
							.e-col.clearfix.e-margin_top--13.e-margin_bottom--13
								- var $breadcrumb_caption = 'Single Course'
								- var $breadcrumb_current = 'Course'
								include jade/blocks/breadcrumbs/_centered.jade

				include jade/blocks/singular/course/_page_title.jade

			section.e-section.e-bg_color--07
				.container
					.row
						.col-lg-12
							.e-col.e-col--box.clearfix.is-sm.e-margin_top--13__negative
								section.e-section.e-margin_top--0
									.row
										.col-lg-6
											.e-col.clearfix
												include jade/blocks/video/_video_course.jade

										.col-lg-6
											.e-col.clearfix
												include jade/blocks/singular/course/_general_info.jade

			section.e-section.e-bg_color--07.e-margin_top--07
				.container
					.row
						.col-lg-12
							.e-col.clearfix
								include jade/blocks/lectures/_carousel.jade

			section.e-section.e-bg_color--07.e-margin_top--07.e-padding_bottom--04
				.container
					.row
						.col-lg-12
							.e-col.e-col--box.clearfix
								include jade/blocks/singular/course/_tabs.jade

			section.e-section.e-bg_color--07
				.container
					.row
						.col-lg-12
							.e-col.clearfix.e-margin_bottom--08
								include jade/blocks/courses/_grid.jade

		include jade/_footer.jade
