@import 'scss/config'
@import 'scss/mixins/bem'
@import 'scss/mixins/alex'
@import 'scss/mixins/andy'

*, *:before, *:after
	@include box-sizing(border-box)

body
	font-family: $font--content
	font-size: $space--04
	line-height: $space--06	
	color: $color__dark--08

h1, h2, h3, h4, h5, h6
	font-family: $font--heading
	color: $color__dark--03	

p, dl, multicol
	margin-top: 0
	margin-bottom: $space--04

a
	&:link,
	&:visited
		color: $color--primary

	&:hover
		color: lighten( $color--primary, 20 )

h1
	&,
	&.is-md
		font-size: 70px
		line-height: round( 70px * 1.3333 )
		margin: round( 70px / 3 ) 0

h2
	&.is-xs
		font-size: 40px
		line-height: round( 40px * 1.3333 )
		margin: round( 40px / 3 ) 0

	&.is-sm
		font-size: 45px
		line-height: round( 45px * 1.3333 )
		margin: round( 45px / 3 ) 0

	&,
	&.is-md
		font-size: 48px
		line-height: round( 48px * 1.3333 )
		margin: round( 48px / 3 ) 0

	&.is-lg
		font-size: 60px
		line-height: round( 60px * 1.3333 )
		margin: round( 60px / 3 ) 0

h3
	&.is-sm
		font-size: 30px
		line-height: round( 30px * 1.3333 )
		margin: round( 30px / 3 ) 0

	&,
	&.is-md
		font-size: 46px 
		line-height: round( 46px * 1.3333 )
		margin: round( 46px / 3 ) 0

h4
	&,
	&.is-md
		font-size: 24px
		line-height: round( 24px * 1.3333 )
		margin: round( 24px / 3 ) 0
	
	&.is-sm	
		font-size: $space--05
		line-height: round( $space--05 * 1.3333 )
		margin: round( $space--05 / 3 ) 0
	
h5
	&,
	&.is-md
		font-size: 18px
		line-height: round( 18px * 1.3333 )
		margin: round( 18px / 3 ) 0

	&.is-xs
		font-size: 16px
		line-height: round( 16px * 1.3333 )
		margin: round( 16px / 3 ) 0

h6
	&.is-xs
		font-size: 12px
		line-height: round( 12px * 1.3333 )
		margin: round( 12px / 3 ) 0

	&.is-sm
		font-size: 13px
		line-height: round( 13px * 1.3333 )
		margin: round( 13px / 3 ) 0

	&,
	&.is-md
		font-size: 14px
		line-height: round( 14px * 1.3333 )
		margin: round( 14px / 3 ) 0

	&.is-lg
		font-size: 15px
		line-height: round( 15px * 1.3333 )
		margin: round( 15px / 3 ) 0

+new( body, $prefix )
	+when (relative)
		position: relative

+new( header, $prefix )
	+when( fixed )
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 20

+new( top_menu, $prefix )
	+when (right)
		text-align: right

	+has ( links )
		list-style-type: none
		padding-left: 0
		margin: $space--04 0			
	
	+has( link )
		+when( lvl_0 )
			+inline-block
			+if( other )
				margin-left: $space--03
				padding-left: $space--03
				position: relative

				&:before
					display: block
					position: absolute
					content: ''
					top: 3px
					bottom: 3px
					left: -3px				
					width: 2px 
					background-color: $color__light--06			
					transform: skewX(160deg)


	+has( url )		
		&:link, &:visited
			color: $color__light--06
		text-decoration: none		
		+transition_m( color, 0.25s )
		&:hover
			color: $color--primary		

+new( header_bottom, $prefix )
	+when( fixed )
		background-color: $color__light--00
		padding: $space--06

+new( logo, $prefix )
	+when( left )
		margin: 0
		float: left

	+has(img)
		display: block
		margin: 0
		padding: 0

+new( navigation, $prefix )

+new( menu, $prefix )
	+when( default )
		+new-child( menu, $prefix )
			+has( link )			
				+if( firstChild )
					margin-left: $space--03
					height: $logo-height
					
					& > a
						padding: 0 $space--03
						line-height: $logo-height
						font-size: $space--04a
						font-family: $font--heading
						color: $color__dark--04
						letter-spacing: 1px
						text-decoration: none
						text-transform: uppercase
				
				+if( current )
					& > a
						font-weight: 700
						color: $color__dark--02

			+has( icon )
				+if( firstChild )
					margin-left: $space--03
					height: $logo-height
				
				+when( circle )
					background-color: $color--primary					
					+border-radius( 50% )

					& > a
						text-decoration: none
				
					+new-child( menu__icon, $prefix )
						+has( icon )
							display: block
							color: $color__light--00
							font-size: $space--04b
							line-height: $logo-height
							width: $logo-height
							text-align: center

				+when( transparent )
					& > a
						text-decoration: none

					+new-child( menu__icon, $prefix )
						+has( icon )
							display: block
							font-size: $space--06
							line-height: $logo-height
							width: $logo-height
							text-align: center

	+when( sub )
		width: $space--16
		top: $logo-height + $space--06 + $space--01
		left: 0px
		+box-shadow( 0px, 1px, 5px, 0px, $color__dark__rgba--04 )

		+if( rtl )
			right: 0px
			left: auto
		
		+new-child( menu, $prefix )
			+when( sub )
				top: 0px
				left: $space--16 + $space--02a

				+if( rtl )
					left: auto
					right: $space--16 + $space--02a

			+has( link )
				display: block
				padding: $space--03 0
				background-color: $color__light--00
				border-top: 1px solid $color__light--09

				&:first-child
					border-top: none
				
				& > a					
					display: block
					text-decoration: none
					color: $color__dark--08
					padding: 0 $space--06
					line-height: $space--07
					border-left: $space--01b solid transparent
					border-right: $space--01b solid transparent

				&:hover
					background-color: $color--third
					& > a
						color: $color__light--00
						border-left-color: $color--primary
						border-right-color: $color--primary

+new( slider, $prefix )
	+when( nivo )
		position: relative
		&::before
			display: block
			position: absolute
			content: ''			
			top: 0px
			left: 0px
			bottom: 0px
			right: 0px
			z-index: 10
			background-color: $color__dark--00
			+opacity( .5 )
	
+new( slide, $prefix )
	+when( nivo )
		position: relative
		background: transparent		
		margin-bottom: $space--14

	+has( title )
		font-size: $space--11
		line-height: $space--13
		font-weight: 700		
		text-transform: uppercase
		color: $color--primary
		width: 50%
		margin: 0

	+has( subtitle )		
		font-size: $space--09
		line-height: $space--11
		text-transform: uppercase
		color: $color__light--09
		width: 50%
		margin: 0

	+has( excerpt )
		color: $color__light--00
		width: 50%		

+new( button, $prefix )
	+inline-block()
	border: none
	font-family: $font--heading
	font-weight: 400
	letter-spacing: 1px
	text-decoration: none	
	
	+if( uppercase )
		text-transform: uppercase	

	+if( huge )
		height: $space--10
		line-height: $space--10
		padding: 0 $space--10	
		font-size: 14px

	+if( large )
		height: $space--09
		line-height: $space--09
		padding: 0 $space--07			
		font-size: 14px
		
	+if( medium )
		height: $space--08 * 0.875
		line-height: $space--08 * 0.875
		padding: 0 $space--04		
		font-size: 14px

	+if( small )
		height: $space--05
		line-height: $space--05
		padding: 0 $space--02a
		font-size: $space--03b

	+if( shadow )		
		+box-shadow( -1px, 1px, 2px, -1px, darken( $color--primary, 10 ) )
	
	+if( round )
		+border-radius( $space--0 )

	+when( fill )
		+if( primary )
			background-color: $color--primary
			color: $color__light--00		
			a
				color: $color__light--00

		+if( third )
			background-color: $color--third
			color: $color__light--00
			a
				color: $color__light--00

	+when( solid )
		+if( primary )
			border: 1px solid $color--primary
	
	+when( icon_right )
		position: relative
		
		+if( uppercase )
			text-transform: uppercase
			letter-spacing: 1px

		+if( primary )
			background-color: $color--primary			
			
			&:hover
				+new-child( button, $prefix )
					+has( icon )
						background-color: $color--third
						color: $color__light--00

			+new-child( button, $prefix )
				+has( text )
					color: $color__light--00

				+has( icon )
					+transition_m( background-color, .25s )
					display: block
					position: absolute
					top: 0
					right: $space--09 * -1
					height: $space--09
					width: $space--09
					line-height: $space--09
					text-align: center
					background-color: $color__light--10
					color: $color__dark--05

	+when( icon_left )
		+new-child( button, $prefix )
			+has( icon )
				+inline-block()
				margin-right: $space--05

+new( caption, $prefix )

	+when( default )
		+has( title )			
			text-transform: uppercase
			font-weight: 400
			color: $color__dark--05
			+if( md )
				margin: 0px

			+if( lowercase )
				text-transform: lowercase
				&:first-letter
					text-transform: uppercase

	+when( withIcon )
		
		+has( title )
			margin: 0
			+when( relative )
				position: relative

		+has( text )
			position: relative
			font-size: $space--06
			line-height: $space--06 *  3/2
			letter-spacing: 1px
			text-transform: uppercase
			color: $color__dark--05
			font-family: $font--heading
			font-weight: 400

		+has( icon )
			display: block
			position: absolute
			top: 50%
			left: 0
			margin-top: $space--11 / -2
			font-size: $space--11
			line-height: $space--11
			width: $space--11
			height: $space--11
			color: $color__light--08

		+has( subtitle )
			margin: 0
			font-weight: 300		
			font-family: $font--desc

		+if( center )
			text-align: center
			+new-child( caption, $prefix )
				+when( withIcon )
					+has( icon )
						left: 50%
						margin-left: $space--11 / -2

	+when( withPrefix )
		margin-bottom: $space--05

		+has( subtitle )
			line-height: $space--06
			font-weight: 300	
			font-family: $font--desc
			text-transform: uppercase
			letter-spacing: 2px

		+has( title )
			text-transform: uppercase
			font-weight: 700
			letter-spacing: 1px
			& > span
				color: $color--primary

	+when( withIconTop )

		+if( center )									
			text-align: center

		+new-child( caption, $prefix )	

			+has( link )
				display: block
				text-decoration: none
				margin-bottom: $space--05

			+has( icon )
				+inline-block()
				width: $space--12
				height: $space--12
				line-height: $space--12
				font-size: $space--07
				text-align: center
				+border-radius( 50% )
				border: 1px solid $color__primary__rgba--01
				color: $color--primary
				
			+has( title )
				margin: 0
				font-weight: 400

			+has( subtitle )
				margin: $space--05 0 0 0
				font-family: $font--desc
				font-weight: 300	

	+when( borderBottom )
		position: relative

		&:before
			content: ''
			display: block
			position: absolute
			bottom: 0
			left: 0
			height: 1px
			width: $space--08
			background-color: $color__light--09

		+new-child( caption, $prefix )

			+has( title )
				margin-top: 0
				margin-bottom: 0
			
			+has( icon )
				display: block
				float: left
				margin-right: $space--03
				line-height: $space--06

			+has( text )
				display: block
				float: left
				text-transform: uppercase
				font-weight: 400				

	+when( bold )
		+has( title )			
			text-transform: uppercase
			font-weight: 700
			color: $color__dark--05
			+if( md )
				margin: 0px

			+if( lowercase )
				text-transform: lowercase
				&:first-letter
					text-transform: uppercase

	+when( borderBottomLong )
		position: relative
		border-bottom: 1px solid $color__light--08
		
		&:hover
			&:before
				width: 100%

		&:before		
			content: ''
			display: block
			position: absolute
			bottom: -1px
			left: 0
			height: 3px
			width: $space--10
			background-color: $color--primary
			+transition( .5s )

		+new-child( caption, $prefix )

			+has( title )
				margin-top: 0
				margin-bottom: 0
			
			+has( icon )
				display: block
				float: left
				margin-right: $space--03
				line-height: $space--06

			+has( text )
				display: block
				float: left
				text-transform: uppercase
				font-weight: 400				

+new( testimonials, $prefix )
	
	+when( carousel )	
		+new-child( testimonials, $prefix )
			+has( outer )
				position: relative
				padding-left: $space--14a

			+has( inner )

			+has( icon )
				display: block
				margin: 0
				padding: 0
				font-size: $space--12
				line-height: $space--12
				position: absolute
				top: 0
				left: 0
				color: $color__light--09

			+has( avatars )
				width: ( $space--12 * 3 ) + $space--04a

			+has( avatar )
				cursor: pointer

				& > img
					+opacity( 0.5 )

				&.slick-current > img
					+opacity( 1 )

			+has( img )
				+border-radius( 50% )

			+has( content )
				font-size: $space--04c
				line-height: $space--06b
				color: $color__dark--09

			+has( author )
				font-family: $font--heading

			+has( name )
				display: block
				float: left
				margin-right: $space--01
				font-size: $space--04d				
				color: $color__dark--05
				text-transform: uppercase

			+has( country )
				display: block
				float: left
				margin-right: $space--01
				font-size: $space--04d				
				color: $color__dark--05
				text-transform: uppercase

			+has( jobs )
				display: block
				float: left
				color: $color__dark--12

	+when( carouselSingle )
		+new-child( testimonials, $prefix )					
			+has( quote )
				text-align: center
			
			+has( avatar )
				text-align: center
			
			+has( img )
				+inline-block()

			+has( content )
				font-size: $space--06
				line-height: $space--07a
				font-weight: 100
				font-style: italic

			+has( avatar )
				margin-top: $space--07a

			+has( img )
				+border-radius( 50% )
				border: $space--01a solid $color--primary

			+has( authorName )
				text-transform: uppercase
				margin-top: $space--04				

			+has( authorInfo )
				color: $color__dark--09a

			+has( job )
				+inline-block()

			+has( divider )
				+inline-block()
				margin-left: $space--02
				margin-right: $space--02

			+has( country )
				+inline-block()
			
		+new-child( owl-pagination  )
			margin-top: $space--08
			text-align: center

		+new-child( owl-page )			
			+inline-block
			margin-left: $space--01
			margin-right: $space--01
			height: $space--02a
			width: $space--02a
			background-color: $color__light--10

			&.active
				background-color: $color--primary
	
+new( course, $prefix )

	+when( withRating )
		background-color: $color__light--00
		
		+new-child( course, $prefix )

			+has( thumbnail )
				+when( relative )
					margin: 0
					position: relative			
				img
					display: block
					width: 100%
					height: auto
				
			+has( content )
				padding: $space--06 0

			+has( metadata )
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				padding: $space--02 $space--06
				background-color: $color__dark__rgba--01

			+has( term )
				font-family: $font--heading
				text-transform: uppercase
				text-decoration: none
				color: $color__light--00
				font-size: 14px
				line-height: $space--06

			+has( date )
				+when( right )
					font-family: $font--content
					display: block
					float: right
					font-size: 14px
					line-height: $space--06
					color: $color__light--00

			+has( icon )
				+when( right )
					display: block
					float: right
					font-size: 14px
					line-height: $space--06
					color: $color__light--00	

			+has( name )
				+if( md )
					margin: 0
				+when( borderLeft )
					padding: 0 $space--06
					position: relative
					&::before
						display: block
						position: absolute
						content: ''
						top: $space--01
						bottom: $space--01
						left: 0
						width: $space--01
						background-color: $color--primary	

			+has( link )
				display: block
				font-family: $font--heading
				font-size: $space--05 * 9 / 10
				font-weight: 400
				text-decoration: none
				line-height: $space--06
				color: $color__dark--05

	+when( boxShadow )
		+box-shadow( 0px, 1px, 5px, 0px, $color__dark__rgba--04 )
		+transition( .25s )
		&:hover
			+box-shadow( 5px, 5px, 10px, 0px, $color__dark__rgba--04 )

	+when( fullWidth )
		background-color: $color__light--00
		padding-left: $space--04
		padding-right: $space--04

		+new-child( course, $prefix )

			+has( thumbnail )
				+when( relative )
					margin: 0
					position: relative
					overflow: hidden

				img
					display: block
					width: 100%
					height: auto
				
			+has( content )
				padding-top: $space--06
				padding-bottom: $space--06
				padding-right: $space--04

			+has( term )
				position: absolute
				top: $space--04
				left: $space--03a

			+has( stick )
				position: absolute
				top: $space--14b * -1/2
				right: $space--13 * -1
				text-transform: uppercase
				font-size: $space--03
				font-family: $font--heading

			+has( name )
				+if( md )
					margin: 0

			+has( link )
				+inline-block()
				font-family: $font--heading
				font-size: $space--05 * 9 / 10
				font-weight: 400
				text-decoration: none
				line-height: $space--06
				color: $color__dark--05

			+has( rating )
				float: right

			+has( left )
				padding-left: 0px

			+has( right)

+new( price, $prefix )
	+has( ins )				
		text-decoration: none
		+has( link )
			text-decoration: none

	+has( del )
		&:link,
		&:visited
			color: $color__light--03		

+new( rating, $prefix )
	+when( small )
		font-size: 12px
		line-height: $space--06

	+when( primary )
		color: $color--primary

	+when( one )
		&::before
			content: "\f005\f006\f006\f006\f006"

	+when( two )
		&::before
			content: "\f005\f005\f006\f006\f006"

	+when( three )
		&::before
			content: "\f005\f005\f005\f006\f006"

	+when( four )
		&::before
			content: "\f005\f005\f005\f005\f006"	

	+when( five )
		&::before
			content: "\f005\f005\f005\f005\f005"	

+new( owl, $prefix )
	+has( nav )
		display: block
		position: absolute
		top: 50%
		right: 0
		margin-top: $space--08 / -2
		text-align: right

		+has( link )						
			+inline-block()
			width: $space--08
			height: $space--08
			line-height: $space--08
			text-align: center
			border: 1px solid $color__light--06
			color: $color__dark--04
			font-size: $space--04
			cursor: pointer

			+when( prev )
				margin-right: $space--01

			+when( next )

+new( count_down, $prefix )

+new( date_block, $prefix )
	display: block
	min-height: 90px
	height: 90px
	height: auto
	text-align: center

	+when( halfBg )
		position: relative
		background-color: $color__light--00
		padding-top: $space--04
		&::before
			content: ''
			display: block
			position: absolute
			top: 0
			bottom: 0
			right: -1px
			left: 50%			
			border-left: 1px dashed $color__light--07
			background-color: $color__light--12

	+when( borderRound )
		overflow: hidden
		+border-radius( 5px )

	+has( number )
		display: block
		position: relative
		font-family: $font--heading
		font-size: $space--08 * .9
		font-weight: 400
		line-height: $space--08 * .9
		color: $color__dark--05

	+has( text )
		display: block
		position: relative
		font-family: $font--heading
		font-size: $space--04 * 0.8
		font-weight: 400
		line-height: $space--06
		color: $color__dark--05
		text-transform: uppercase

+new( widget, $prefix )
	+when( dark )				

		+new-child( caption, $prefix )

			+when( withIcon )
				display: block
				+has( text )
					color: $color__light--00
				+has( icon )
					color: $color__dark--06
				+has( subtitle )
					color: $color__light--06

			+when( withPrefix )
				+has( subtitle)
					color: $color__light--00

				+has( title )
					color: $color__light--00
		
			+when( withIconTop )

				+new-child( caption, $prefix )	
					+has( link )
					
					+has( icon )
						
					+has( title )
						color: $color__light--00
					
					+has( subtitle )
						color: $color__light--06

		+new-child( intro__content, $prefix )
			color: $color__light--14

	+when( borderTop )
		border-top-width: $space--02  
		border-top-style: solid

	+when( borderPrimary )
		border-color: $color--primary

+new( field_group, $prefix )
	+when( first )
	+when( other )		
	+when( last )

+new( field, $prefix )
	+if( fullwidth )
		width: 99%		

	+when( text )
		padding: 0 $space--04
		font-size: $space--04a

		+if( medium )
			height: $space--07a
			line-height: $space--07a

		+if( huge )
			height: $space--10
			line-height: $space--10
			
		+if( solid )
			border: 1px solid $color__light--10
			background-color: $color__light--00			
			color: $color__dark--05

		+if( shadow )
			background-color: $color__light--14
			border: 1px solid $color__light--11
			+box-shadow( -1px, 1px, 2px, 0px, $color__light--08 )						

	+when( textarea )
		padding: 0 $space--04
		font-size: $space--04a
		line-height: $space--06
		resize: vertical
		min-height: $space--14
			
		+if( solid )
			border: 1px solid $color__light--10
			background-color: $color__light--00			
			color: $color__dark--05

		+if( shadow )
			background-color: $color__light--14
			border: 1px solid $color__light--11
			+box-shadow( -1px, 1px, 2px, 0px, $color__light--08 )

	+when( submit )
	
	+when( select )
		position: relative
		padding: 0 $space--04
		font-size: $space--04a		

		+if( medium )
			height: $space--07a
			line-height: $space--07a		

		+if( huge )
			height: $space--10
			line-height: $space--10
			
			option				
				line-height: $space--06
				padding: $space--03


		+if( solid )
			border: 1px solid $color__light--10
			background-color: $color__light--00			
			color: $color__dark--05

		+if( shadow )
			background-color: $color__light--14
			border: 1px solid $color__light--11
			color: $color__dark--05
			+box-shadow( -1px, 1px, 2px, -1px, $color__light--08 )			
		
+new( intro, $prefix )

	+when( 1st )

		+new-child( intro, $prefix )

			+has( icon )
				display: block
				font-size: $space--09
				line-height: $space--09
				margin-right: $space--04				


	+when( 2nd )

		+new-child( intro, $prefix )

			+has( symbol )				
				color: $color__light--00
				position: relative
				z-index: 5

			+has( icon )
				display: block
				text-align: center
				font-size: $space--09a
				line-height: $space--15
				width: $space--15
				margin-right: $space--05
				position: relative
				border: 1px solid $color__primary__rgba--01				
				+border-radius( 50% )				

				&:after
					display: block
					content: ''
					position: absolute
					top: $space--03
					bottom: $space--03
					left: $space--03
					right: $space--03
					+border-radius( 50% )
					background-color: $color__primary__rgba--01					

			+has( index )
				font-family: $font--heading
				font-size: $space--08
				line-height: $space--15 / 2
				font-weight: 400
				margin: 0
				position: relative
				&:after
					display: block
					position: absolute				
					content: ''
					bottom: 1px					
					left: 50%
					margin-left: ( $space--14 * -0.5 ) + 20
					background-color: $color__dark__rgba--03
					height: 1px
					width: $space--14

			+has( excerpt )
				font-family: $font--heading
				font-size: $space--04c
				line-height: $space--15 / 2
				font-weight: 400
				margin: 0
				text-transform: uppercase

+new( cta, $prefix )
	+inline-block()
	padding: ( ( $space--10 - $space--06) / 2 ) $space--08
	+border-radius( 2px )
	font-family: $font--heading

	+when( light )
		background-color: $color__light--00

	+when( default )

		+has( secondary )
			display: block
			font-size: $space--04a
			line-height: $space--06
			margin-right: $space--07
			float: left
			color: $color__dark--05
			text-transform: uppercase

		+has( primary )
			display: block
			font-size: $space--04a
			line-height: $space--06
			left-right: $space--07
			float: left
			color: $color--primary

+new( banner, $prefix )
	+when( single )
		+has( link )
			display: block

		+has( image )
			display: block
			margin: 0
			padding: 0

+new( accordion, $prefix )
	
	+has( group )
		margin-bottom: $space--01a	

	+when( 1st )

		+new-child( accordion, $prefix )
			
			+has( toggle )
				display: block
				text-decoration: none
				background-color: $color--primary

				&.collapsed
					background-color: $color__light--13
					+new-child( accordion, $prefix )
						+has( index )
							background-color: $color__light--11
							color: $color__dark--11

						+has( text )							
							color: $color__dark--05					

			+has( heading )
				font-family: $font--heading
				font-size: $space--04a
				line-height: $space--06a
							
			+has( index )
				line-height: $space--06a
				padding: $space--03 0
				width: $space--09
				text-align: center				
				color: $color__light--00
				background-color: $color--primary__lighten--01

			+has( text )
				line-height: $space--06a
				padding: $space--03
				color: $color__light--00		

			+has( inner )
				padding: $space--07a
				position: relative
				&:before
					display: block
					position: absolute
					content: ''
					top: $space--08
					left: 0
					height: $space--08
					width: $space--01
					background-color: $color--primary

+new( article, $prefix )
	
	+when( fullBg )
		position: relative

		+new-child( article, $prefix )
			+has( outter )
				position: absolute				
				top: $space--11
				right: $space--08 * -1
				width: 60%
				background-color: $color__light--00
				+box-shadow( 0px, 1px, 5px, 0px, $color__dark__rgba--04 )
				+transition( .25s )
				&:hover
					+box-shadow( 5px, 5px, 10px, 0px, $color__dark__rgba--04 )


			+has( inner )
				position: relative
				margin: $space--08

			+has( title )
				font-weight: 400
				text-transform: uppercase
				margin: 0

			+has( link )
				text-decoration: none
				color: $color__dark--05

			+has( excerpt )
				position: relative
				margin-top: $space--05
				padding-top: $space--05
				margin-bottom: 0

				&:before
					content: ''
					display: block
					position: absolute
					top: 0
					left: 0
					height: 1px
					width: $space--08
					background-color: $color__light--09

			+has( date )
				display: block
				padding: $space--05 0
				background-color: $color--primary
				position: absolute
				top: $space--08 * -1
				left: $space--14c * -1
				width: $space--13
				color: $color__light--00
				text-align: center
				font-family: $font--date
				text-transform: uppercase				

			+has( day )
				display: block				
				font-size: $space--07
				line-height: $space--07

			+has( month_year )
				margin-top: $space--01
				display: block
				font-size: $space--03a
				line-height: $space--03a

+new( readmore, $prefix )

	+when( arrow )
		+inline-block()
		text-decoration: none

		+new-child( readmore, $prefix )			

			+has( text )
				display: block
				float: left
				font-family: $font--heading
				font-size: $space--03a				
				line-height: $space--06
				text-transform: uppercase
				color: $color--primary

			+has( icon )
				display: block
				float: left
				line-height: $space--06
				margin-left: $space--04
				color: $color--primary
				font-size: $space--05

+new( info, $prefix )
	+when( iconLeft )
		position: relative
		padding-left: $space--05
		margin-top: $space--03
		margin-bottom: 0

		a
			text-decoration: none
			&:hover
				text-decoration: underline

		+new-child( info, $prefix )			

			+has( icon )
				display: block
				position: absolute
				top: 0
				left: 0
				line-height: $space--06
				font-size: $space--04
				color: $color--primary

+new( lists, $prefix )
	+when( default )
		list-style-type: none
		padding-left: 0
		margin-top: $space--03 * -1
		margin-bottom: 0
		+new-child( lists, $prefix )
			+has( item )
				margin-top: $space--03

			+has( link )
				text-decoration: none
				&:hover
					text-decoration: underline

+new( tweets, $prefix )
	+when( list )

		+new-child( tweets, $prefix )
			+has( outter )				
				a
					text-decoration: none
					&:hover
						text-decoration: underline
						
			+has( single )
				+if( first )

				+if( other )
					margin-top: $space--04
					padding-top: $space--04
					border-top: 1px solid $color__light--09

			+has( content )

			+has( date )
				margin-top: $space--03

+new( social, $prefix )
	+when( default )
		list-style-type: none
		padding-left: 0
		margin-top: 0
		margin-bottom: 0

		+new-child( social, $prefix )
			+has( item )
				+inline-block()

			+has( link )
				+border-radius( $space--01 )
				display: block
				height: $space--07
				line-height: $space--07
				width: $space--07
				text-align: center
				background-color: $color__dark--05
				border: 1px solid $color__dark--05
				color: $color__light--00

+new( social, $prefix )
	+when( solid_circle )
		list-style-type: none
		padding-left: 0
		margin-top: 0
		margin-bottom: 0

		+new-child( social, $prefix )
			+has( item )
				+inline-block()
				margin-left: $space--0
				margin-right: $space--0

			+has( link )
				+border-radius( 50% )
				+transition_m( background-color, .25s )
				+transition_m( border-color, .25s )
				display: block
				height: $space--07
				line-height: $space--07
				width: $space--07
				text-align: center
				background-color: $color__light--00
				border: 1px solid $color__light--10
				color: $color--third
				&:hover
					background-color: $color--primary
					border-color: $color--primary
					color: $color__light--00


+new( footer, $prefix )
	font-size: $space--04a

	+new-child( widget, $prefix )
		margin-bottom: $space--08

	+new-child( footer, $prefix )
		+has( widgets )

			+if( light )	
				background-color: $color__light--12			
			
			+if( dark )
				background-color: $color__dark--01

		+has( info )			

			+if( light )
				background-color: $color__light--12

			+if( dark )
				background-color: $color__dark--01

			+has( right )
				text-align: right

+new( section, $prefix )

	+new-child( container, $prefix )
		+when( full )
			overflow-x: hidden

	+when( dark )
		+new-child( intro, $prefix )
			+when( 2nd )		
				+new-child( intro, $prefix )
					+has( index )
						color: $color__light--00	
					+has( excerpt )
						color: $color__light--06

		+new-child( breadcrumb, $prefix )
			+when( centered )
				+new-child( breadcrumb, $prefix )
					+has( title )
						color: $color__light--00

	+when( child )
		margin-top: $space--09

	+with( overlay )
		position: relative

		&::before
			display: block
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background-color: $color__dark__rgba--02
	
	+with( overlay_primary )
		&::before
			background-color: $color__primary__rgba--01

+new( section, $prefix )
	+if( dark )
		+new-child( caption, $prefix )
			+when( borderBottom )

				&:before					
					background-color: $color__dark--09

				+new-child( caption, $prefix )

					+has( title )
						color: $color__light--00
					+has( icon )
					
					+has( text )				

		+new-child( divider, $prefix )
			+when( solid )
				background: $color__dark--05a

		+new-child( tweets, $prefix )
			+when( list )
				+new-child( tweets, $prefix )
					+has( single )
						border-top-color: $color__dark--05a

		+new-child( field, $prefix )

			+when( text )

				+if( solid )
					+border-radius( 2px )
					border-color: $color__dark--05a					
					background-color: $color__dark--03		
					color: $color__light--00

			+when( textarea )
			
				+if( solid )
					+border-radius( 2px )
					border-color: $color__dark--05a
					background-color: $color__dark--03		
					color: $color__light--00

			+when( submit )
				+border-radius( 2px )

			+when( select )

				+if( shadow )


		+new-child( social, $prefix )
			+when( default )
				+new-child( social, $prefix )
					+has( link )					
						border-color: $color__dark--05a

+new( breadcrumb, $prefix )
	+when( centered )
		+new-child( breadcrumb, $prefix )
			+has( title )
				text-align: center
				margin-top: 0
				margin-bottom: 0
				text-transform: uppercase
			
			+has( links )
				text-align: center
				font-size: $space--04a
			
			+has( item )
				+inline-block()

			+has( divider )
				+inline-block()
				padding-left: $space--03
				padding-right: $space--03

			+has( link )
				text-decoration: none

+new( row, $prefix )
	+when( '07a' )
		margin-left: $space--07a * -1
		margin-right: $space--07a * -1
		& > [class^="col-"], 
		& > [class*=" col-"]
			padding-left: $space--07a
			padding-right: $space--07a
	
	+when( noSpace )
		margin-left: 0
		margin-right: 0
		& > [class^="col-"], 
		& > [class*=" col-"]
			padding-left: 0
			padding-right: 0

+new( col, $prefix )
	+when( box )
		display: block
		background-color: $color__light--00
		position: relative		
		+box-shadow( 0px, 1px, 5px, 0px, $color__dark__rgba--04 )
		+transition( .25s )
		&:hover
			+box-shadow( 5px, 5px, 10px, 0px, $color__dark__rgba--04 )
		
		+if( lg )
		+if( md )
			padding: $space--09
		+if( sm )
			padding: $space--05
		+if( xs )

+new( space, $prefix )
	+when( '07' )
		height: $space--07
	+when( '11' )
		height: $space--11

+new( divider, $prefix )
	+when( solid )
		display: block
		width: 100
		height: 1px
		margin: 0
		padding: 0
		background-color: $color__light--09

+new( image, $prefix )
	+when( default )
		+new-child( image, $prefix )
			+has( link )
				display: block
				margin: 0
				padding: 0
				
			+has( img )
				display: block
				margin: 0
				padding: 0

+new( author, $prefix )
	+when( 1st )
		+new-child( author, $prefix )
			+has( prefix )
				+inline-block()
				margin-right: $space--02
			+has( link )
				+inline-block()
				text-decoration: none
				&:hover
					text-decoration: underline
			+has( job )
				+inline-block()
				margin-left: $space--02

+new( card, $prefix )

	+when( 1st )
		position: relative
		overflow: hidden

		&:hover
			+new-child( card, $prefix )				
				+has( title )
					bottom: 80px

				+has( subtitle )
					bottom: 50px					

				+has( overlay )
					background-color: $color__dark__rgba--02

		+new-child( card, $prefix )				
			+has( overlay )
				position: absolute
				top: 0
				bottom: 0	
				left: 0
				right: 0
				background-color: transparent
				z-index: 1
				+transition_m( background-color, .5s )
	
			+has( img )
				display: block
				margin: 0
				padding: 0

			+has( title )
				position: absolute
				bottom: $space--15 * -2
				left: $space--04
				right: $space--04
				text-align: center
				text-transform: uppercase
				z-index: 2
				margin-top: 0
				margin-bottom: 0
				+transition_m( bottom, .5s )
				+has( link )
					text-decoration: none
					color: $color__light--00
					&:hover
						color: $color--primary

			+has( subtitle  )
				position: absolute
				bottom: $space--15 * -1
				left: $space--04
				right: $space--04
				text-align: center
				z-index: 2
				margin-top: 0
				margin-bottom: 0
				+transition_m( bottom, .25s )				
				+has( link )
					text-decoration: none
					color: $color__light--00
					&:hover
						color: $color--primary

	+when( 2nd )
		
		+new-child( card, $prefix )

			+has( thumb )
				position: relative
				&:before
					display: block
					content: ''
					position: absolute
					top: $space--03
					bottom: $space--03
					left: $space--03
					right: $space--03
					border: 1px solid $color__light__rgba--01
					background-color: transparent

			+has( img )
				display: block

+new( progress_bar, $prefix )

	+when( 1st )		
		margin-top: 0
		margin-bottom: $space--07

		+new-child( progress_bar, $prefix )

			+has( label )
				text-transform: uppercase
				letter-spacing: 1px
				margin-top: 0
				margin-bottom: $space--01a
				color: $color__dark--05

			+has( value )
				display: none
				position: absolute
				height: $space--05
				width: $space--08
				font-size: 14px
				line-height: round( 14px * 1.3333 )
				top: $space--06b	* -1
				right: $space--05 * -1
				color: $color__dark--11
				font-family: $font--heading
				font-weight: 400

			+has( max )
				+border-radius( $space--06 / 2 )
				height: $space--06
				background-color: $color__light--13
				border: 1px solid $color__light--09
				padding: $space--0

			+has( current )
				+border-radius( $space--04d / 2 )
				position: relative
				width: $space--04d
				height: $space--04d				
				background-color: $color__light--08
				border: 1px solid $color__light--08
				padding: $space--0
				cursor: pointer				

				&:hover				
					background-color: $color--primary
					border-color: $color--primary
					
					+new-child( progress_bar, $prefix )
						+has( value )
							display: block

+new( staff, $prefix )
	+when( 1st )
		background-color: $color__light--00		
		+box-shadow( 0px, 1px, 5px, 0px, $color__dark__rgba--04 )
		+transition( .25s )
		&:hover
			+box-shadow( 5px, 5px, 10px, 0px, $color__dark__rgba--04 )

		+new-child( staff, $prefix )
			
			+has( avatar )
				
			+has( img )
				display: block
				width: 100%

			+has( info )
				padding: $space--05
				text-align: center

			+has( name )
				margin-top: 0
				margin-bottom: 0

			+has( job )

			+has( socials )
				background-color: $color__light--13
				padding: $space--04
				text-align: center

			+has( link )
				+inline-block()
				+transition( .25s )
				text-decoration: none
				width: $space--06a
				height: $space--06a
				line-height: $space--06a
				color: $color__light--00
				margin-left: $space--0
				margin-right: $space--0
				background-color: $color--primary
				font-size: $space--03a
				border: 1px solid $color--primary
				
				&:hover
					border-color: $color--primary
					background-color: $color__light--00
					color: $color--primary

			+has( icon)

+new( metadata, $prefix )
	+when( default )
		font-size: $space--04a
		+new-child( metadata, $prefix )

			+has( item )
				display: block
				float: left
				margin-right: $space--04

				+when( text )					
					+new-child( metadata__item, $prefix )
						+has( label )
							+inline-block()
							margin-right: $space--01a
						+has( link )
							+inline-block()
							text-decoration: none

				+when( icon )
					+new-child( metadata__item, $prefix )
						+has( icon )
							+inline-block()
							margin-right: $space--01a
							color: $color__light--04

						+has( text )
							+inline-block()

+new( stick, $prefix )
	+when( triangle )
		+rotate( 45 )
		+transform-origin( top left )
		display: block
		width: $space--13
		height: $space--13
		line-height: $space--06
		text-align: center		
		padding-top: $space--10 + 4px
	
	+if( primary )
		background-color: $color--primary
		color: $color__light--00

+new( category_list, $prefix )
	+when( flat )
		+new-child( category_list, $prefix )
			+has( container )
				margin-top: 0
				margin-bottom: 0
				padding-left: $space--04
				list-style-type: square
				color: $color--primary

			+has( item )
				padding-top: $space--01a
				padding-bottom: $space--01a

			+has( link )
				position: relative
				display: block
				text-decoration: none
				color: $color__dark--06

			+has( count )
				display: block
				position: absolute
				top: 0
				right: 0
				color: $color__dark--09

+new( archive, $prefix )
	+when( flat )
		+new-child( archive, $prefix )
			+has( container )
				margin-top: 0
				margin-bottom: 0
				padding-left: $space--04
				list-style-type: square
				color:  $color--primary

			+has( item )
				padding-top: $space--01a
				padding-bottom: $space--01a

			+has( link )
				position: relative
				display: block
				text-decoration: none
				color: $color__dark--06

			+has( count )
				display: block
				position: absolute
				top: 0
				right: 0
				color: $color__dark--09

+new( article, $prefix )
	+when( small_thumb )
		
		+if( first )
			margin-top: 0
			
		+if( other )
			margin-top: $space--07

		+new-child( article, $prefix )

			+has( thumb )
				display: block
				float: left
				margin-right: $space--04

			+has( title )
				margin-top: 0
				margin-bottom: 0
				font-weight: 400				
			
			+has( link )
				text-decoration: none
				color: $color__dark--05

			+has( date )
				font-size: $space--04a
				margin-top: $space--03
				margin-bottom: 0

			+has( icon )
				+inline-block()
				color: $color--primary
				margin-right: $space--01

			+has( time )
				color: $color__dark--10

+new( tags, $prefix )
	+when( cloud )
		+new-child( tags, $prefix )
			+has( outter )
				margin-top: $space--03 * -1
				margin-left: $space--03 * -1

		+new-child( tag, $prefix )
			+when( solid )
				display: block
				float: left
				margin-top: $space--03
				margin-left: $space--03
				padding: $space--01a $space--03
				line-height: $space--06a
				border: 1px solid $color__light--10
				color: $color__dark--08
				text-decoration: none
				+transition( .25s )
				&:hover
					background-color: $color--primary
					border-color: darken( $color--primary, 2 )
					color: $color__light--00
					+border-radius( $space--04c )

+new( article, $prefix )
	+when( avatar_left )
		
		+if( first )

		+if( other )

		+new-child( article, $prefix )
			+has( divider )
				margin-top: $space--07
				padding-top: $space--07
				border-top: 1px solid $color__light--06

			+has( main_content )
				+if( quote )
					position: relative
					background-color: $color__light--13
					padding: $space--08 $space--07 $space--04 $space--07
					border-left: $space--0 solid $color--primary

					+new-child( article, $prefix )
						+has( icon )
							display: block
							position: absolute
							top: $space--07
							right: $space--07
							height: $space--09
							width: $space--09
							line-height: $space--09
							color: $color__light--08
							font-size: $space--09						

			+has( thumb )
				margin: 0 0 $space--07 0				
				padding: 0
			
			+has( gallery )
				margin-bottom: $space--07

			+has( video )
				margin-bottom: $space--07
	
			+has( audio )
				margin-bottom: $space--07

			+has( img )
				display: block
				max-width: 100%

			+has( title )
				margin-top: 0
				margin-bottom: $space--05
				font-weight: 400

			+has( link )
				color: $color__dark--05
				text-decoration: none				
				+if( uppercase )
					text-transform: uppercase

			+has( metadata )
				padding-top: $space--04
				border-top: 1px solid $color__light--06
			
			+has( excerpt )
				margin-top: $space--04

			+has( author )
				+attr( user, $prefix )
					+when( name_bottom )
						position: relative

						&:after
							display: block
							position: absolute
							content: ''
							top: ( $space--09 - ( $space--0 / 2 ) )
							right: ( $space--05 * -1 )							
							height: $space--0
							width: $space--06b
							background-color: $color__light--09

+new( quote, $prefix )
	+when( default )
		+new-child( quote, $prefix )
			+has( author )
				margin-top: $space--07
				+has( link )
					text-decoration: none

+new( user, $prefix )
	+when( name_bottom )
		text-align: center

		+new-child( user, $prefix )
			+has( img )
				+inline-block()
				+border-radius( 50% )

			+has( link )
				+inline-block()
				+border-radius( $space--01a )
				text-decoration: none
				padding: $space--01a
				background-color: $color--primary
				color: $color__light--00				
				margin-top: $space--03
				position: relative

				&:before
					display: block
					content: ''
					width: 0
					height: 0
					border-style: solid
					border-width: 0 5px 6px 5px
					border-color: transparent transparent $color--primary
					position: absolute
					top: -6px
					left: 50%
					margin-left: -5px

+new( gallery, $prefix )
	+when( default )
		+new-child( gallery, $prefix )
			+has( img )
				display: block

+new ( owl, $prefix )
	+when( default )
		position: relative

		.owl-controls		
			+clearfix()
			position: absolute
			left: 0
			right: 0
			top: 50%
			margin-top: ( $space--10 * -1/2 )
			height: $space--10
			line-height: $space--10

		.owl-prev, .owl-next
			+transition( .25s )
			display: block
			height: $space--10
			width: $space--10
			text-align: center
			background-color: $color__dark__rgba--01
			color: $color__light--00
			&:hover
				+border-radius( 50% )

		.owl-prev
			float: left
			margin-left: $space--02

		.owl-next
			float: right
			margin-right: $space--02

+new( metadata, $prefix )
	+when( secondary )
		font-size: $space--04a
		+new-child( metadata, $prefix )

			+has( item )
				&:last-child
					padding-right: 0
					border-right: none
				display: block
				float: left
				margin-right: $space--04
				padding-right: $space--04
				border-right: 1px solid $color__light--06

				+when( text )					
					+new-child( metadata__item, $prefix )
						+has( label )
							+inline-block()
							margin-right: $space--01a
						+has( link )
							+inline-block()
							text-decoration: none

				+when( icon )					
					+new-child( metadata__item, $prefix )
						+has( icon )
							+inline-block()
							margin-right: $space--01a							
							color: $color--primary

						+has( text )
							+inline-block()

+new( pagination_loadmore, $prefix )
	+when( default )
		text-align: center
		
		+new-child( pagination_loadmore, $prefix )
			+has( link )
				+inline-block()
				text-decoration: none

			+has( icon )
				+inline-block()
				height: $space--10
				line-height: $space--10
				width: $space--10
				text-align: center
				+border-radius( 50% )
				color: $color__light--00
				font-size: $space--05
				background-color: $color--primary
			
			+has( label )
				display: block
				color: $color__dark--05				
				text-transform: uppercase
				letter-spacing: 2px
				margin-bottom: 0
				margin-top: $space--05

+new( page_title, $prefix )
	+when( default )		
		+new-child( page_title, $prefix )		
			+has( subtitle )
				margin-top: 0
				margin-bottom: $space--04
				font-weight: 400

			+has( title )
				margin-top: 0
				margin-bottom: 0
				font-weight: 400
				+if( uppercase )
					text-transform: uppercase

			+has( action )
				display: block
				margin-top: $space--07
				margin-bottom: 0
				font-weight: 400
				font-size: $space--06
				line-height: $space--06
				text-decoration: none

				+has( icon )
					+inline-block()
					margin-right: $space--04
				+has( text )
					+inline-block()

+new( section, $prefix )
	+when( dark )
		+new-child( page_title, $prefix )
			+when( default )
				+new-child( page_title, $prefix )
					+has( subtitle )
						color: $color__light--00
					+has( title )
						color: $color__light--00
					+has( action )
						color: $color__light--00				

+new( video, $prefix )
	+when( course )
		+new-child( video, $prefix )
			+has( container )
				position: relative

			+has( cover )
				display: block
				width: 100%
				height: auto

			+has( overlay )
				display: block				
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				background-color: $color__dark__rgba--01

			+has( link )
				display: block				
				position: absolute
				top: 50%
				left: 50%
				width: $space--12
				height: $space--12
				line-height: $space--12
				margin-top: ( $space--07a * -1 )
				margin-left: ( $space--07a * -1 )
				font-size: $space--12
				text-decoration: none

			+has( icon )

+new( course_summary, $prefix )
	+when( simple )
		+new-child( course_summary, $prefix )
			+has( add_to_cart )
				+new-child( button, $prefix )
					width: 100%
					text-align: center

+new( list, $prefix )
	+when( centered )
		+new-child( list, $prefix )
			+has( item )

			+has( key )
				+has( icon )
					+inline-block()
					color: $color--primary
					margin-right: $space--04

				+has( text )
					color: $color__dark--05

			+has( value )
				color: $color__light--02

+new( author, $prefix )
	+when( socials_card )
		text-align: center

		+new-child( author, $prefix )
			+has( avatar )
				margin: 0 0 $space--04 0				

			+has( img )
				+border-radius( 50% )
				+inline-block()
				border: 1px solid $color__light--10
				overflow: hidden				

			+has( name )
				margin-top: $space--02
				margin-bottom: 0
				color: $color--third
				font-weight: 400
				+if( uppercase )
					text-transform: uppercase

			+has( jobs )
				margin-top: $space--01
				margin-bottom: 0
				color: $color__dark--07
				font-weight: 400

// WordPress: default markup
+new( pagination, $prefix )
	+when( second )		
		.page-numbers
			&.prev
				float: left
				margin-left: 0
			&.next
				float: right
				margin-right: 0

nav.navigation
	margin-top: $space--07
	.nav-links		
		+clearfix()
		text-align: center

	.page-numbers
		+inline-block()
		height: $space--10
		line-height: $space--10
		min-width: $space--10
		width: $space--10
		width: auto
		margin-left: $space--04 / 2
		margin-right: $space--04 / 2
		border: 1px solid $color__light--08
		background-color: $color__light--12a
		color: $color__dark--05
		+transition( .25s )		
	
		&.current
			background-color: $color--primary
			color: $color__light--00
			border-color: $color__light--00

		&:hover
			background-color: $color__light--00
			color: $color--primary
			border-color: $color--primary

	a
		text-decoration: none

// For only demo.
+new( body, $prefix )
	+when( home )
		min-height: 4000px
		+new-child( demo, $prefix )
			+has( row )
				+when( '02' )
					background: url( demo/bg/welcome.jpg ) no-repeat center center transparent
					background-attachment: fixed
				
				+when( '05' )
					background: url( demo/bg/counter.jpg ) no-repeat center center transparent
					background-attachment: fixed
				
				+when( '07' )
					background: url( demo/bg/life.jpg ) no-repeat center center transparent
					background-attachment: fixed					

	+when( sub )
		+new-child( demo, $prefix )
			+has( row )
				+when( '0' )
					background: url( demo/bg/cover.jpg ) repeat-y center center transparent
					background-attachment: scroll
	
					+with( overlay )
						&::before
							background-color: $color__dark__rgba--02b
	
	+when( about )
		+new-child( demo, $prefix )
			+has( row )
				+when( '03' )
					background-color: $color__light--12

				+when( '07' )
					background-color: $color__light--12a

				+when( '08' )
					background-color: $color__light--12a	

	+when( courses )
		+new-child( demo, $prefix )
			+has( row )
				+when( '01' )
					background-color: $color__light--12

+new( body_blog, $prefix )
	+when( two_cols )
		+new-child( main_content, $prefix )
			background-color: $color__light--12

