.e-widget.e-staffs.e-staffs--grid
	.e-caption.e-caption--withIcon.is-center.e-padding_bottom--08
		h3.e-caption--withIcon__title.e-caption--withIcon__title--relative.clearfix
			i.e-caption--withIcon__icon.fa.fa-users
			span.e-caption--withIcon__text Our Great Faculties
			
		p.e-caption--withIcon__subtitle Quisque cursus in augue eget faucibus suspendisse vel mattis libero aliquam
