.e-widget.e-staff.e-staff--1st
	.e-staff__avatar
		img.e-staff__img( src=$staff_avatar alt="" )

	.e-staff__info
		h5.is-xs.e-staff__name #{$staff_name}
		.e-staff__job (#{$staff_job})

	.e-staff__socials
		a.e-staff__link( href="//facebook.com" title="" )
			i.e-staff__icon.fa.fa-facebook
		a.e-staff__link( href="//twitter.com" title="" )
			i.e-staff__icon.fa.fa-twitter
		a.e-staff__link( href="//linkedin.com" title="" )
			i.e-staff__icon.fa.fa-linkedin
		a.e-staff__link( href="//plus.google.com" title="" )
			i.e-staff__icon.fa.fa-google-plus