head()
	meta(charset='UTF-8')
	meta(content='width=device-width' name='viewport')
	meta(content='edusite, education, school, academi, course, event, quiz, html-template, magazine-template, newspaper-template, blog-template' name='keyword')
	meta(content='The Edusite - HTML5 LMS Template with Course, Event, Quiz,..' name='descripsion')
	title(itemprop='name') The Edusite - HTML5 LMS Template with Course, Event, Quiz,..
	link(rel='canonical' href='#' itemprop='url')

	+e_ie_fix()		
	+e_load_stylesheet()
	+e_load_font()
//- head of site