.e-author_bio--default(class=$author_bio_class)

	.e-author_bio__outer
		img.e-author_bio__img(src='demo/author/author.png' alt='')

		.e-author_bio__header.row
			.e-author_bio__header__left.col-lg-6
				h6.is-lg.e-author_bio__name
					a.e-author_bio__name__link(href='#' title='') John Doe
				p.e-author_bio__jobs Art Director

			.e-author_bio__header__right.col-lg-6
				include ../../../socials/_socials_solid_circle.jade

		.e-author_bio__bio lputate elit. Fusce at mi ut diam tempus porttitor. Vestibulum congue, ante id condimentum malesuada, ligula nibh scelerisque libero, ac Pulvinar Mi Metus eget tortor.