.e-post_categories--default(class=$categories_class)
	span.e-post_categories__caption Categories:
	a.e-post_categories__category(href="#" title="") Drupal
	a.e-post_categories__category(href="#" title="") Pretashop	
	a.e-post_categories__category(href="#" title="") WordPress
	a.e-post_categories__category(href="#" title="") Joomla