.e-posts_adjacent--default(class=$posts_adjacent_class)
	.row
		.col-lg-6.col-xs-12
			.e-posts_adjacent__post.is-prev
				i.e-posts_adjacent__post__icon.ti-angle-left
				a.e-posts_adjacent__post__link(href="" title="") Academies encouraged to open selective schools


		.col-lg-6.col-xs-12
			.e-posts_adjacent__post.is-next				
				a.e-posts_adjacent__post__link(href="" title="") Academies encouraged to open selective schools
				i.e-posts_adjacent__post__icon.ti-angle-right