.e-post_tags--default(class=$tags_class)
	span.e-post_tags__caption Tags:
	a.e-post_tags__tag(href="#" title="") Tech
	a.e-post_tags__tag(href="#" title="") Design
	a.e-post_tags__tag(href="#" title="") Pattern