article.e-article.e-article--avatar_left( class=$article_class )
	.row
		.col-lg-2
			.e-article__author.e-user.e-user--name_bottom
				img.e-user__img.clearfix( src='demo/blog/default/user.jpg' alt='' )
				a.e-user__link.clearfix( href='#' )
					span.e-user__name by Massa

		.col-lg-10
			.e-article__main_content
				figure.e-article__thumb
					img.e-article__img( src="demo/posts/avatar-left/1.jpg" )

				h4.e-article__title.is-sm
					a.e-article__link.is-uppercase(href=$e_single_url title="") Your one stop solution for development needs

				.e-article__metadata.e-metadata.e-metadata--secondary.clearfix
					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-calendar
						span.e-metadata__item__text 26 April 2016

					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-comments-o
						span.e-metadata__item__text 1.335 Comments

					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-heart
						span.e-metadata__item__text 1.235 Likes

					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-eye
						span.e-metadata__item__text 356 Views

				.e-article__content.clearfix

					ul.e-list--circle.is-primary.e-article__similar
						li.e-list--circle__item
							a(href="#" title="") Most Kids Still Live With 2 Parents: Census Bureau
						li.e-list--circle__item
							a(href="#" title="") Obama: Trump Needs to Stand Up to Russia
						li.e-list--circle__item
							a(href="#" title="") Trump Offers Flynn Job as National Security Adviser

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex. Nullam sagittis ligula nec justo commodo, ut pharetra ipsum semper. Suspendisse id mauris vel urna mattis aliquet vel ut arcu. Sed a urna fringilla, volutpat ex vitae, aliquet enim. Donec tempus mauris at mi euismod, sed porta neque scelerisque.

					blockquote.e-blockquote--background_image.e-demo__blockquote--01
						i.e-blockquote__icon.fa.fa-quote-left
						p.e-blockquote__quote Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posueresc cubilia. In ac dui quis mi consectetuer lacinia arcu.
						cite.e-blockquote__cite
							a.e-blockquote__cite__link(href="#" title="") Ms. Emilia Kingsley - Head of Music

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex. Nullam sagittis ligula nec justo commodo, ut pharetra ipsum semper. Suspendisse id mauris vel urna mattis aliquet vel ut arcu. Sed a urna fringilla, volutpat ex vitae, aliquet enim. Donec tempus mauris at mi euismod, sed porta neque scelerisque.

					div.e-image.e-image--inline.is-left
						img.e-image__img(src="demo/elements/photo.jpg" alt="")
						p.e-image__caption Selective schools take the highest

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex. Nullam sagittis ligula nec justo commodo, ut pharetra ipsum semper. Suspendisse id mauris vel urna mattis aliquet vel ut arcu. Sed a urna fringilla, volutpat ex vitae, aliquet enim. Donec tempus mauris at mi euismod, sed porta neque scelerisque.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex. Nullam sagittis ligula nec justo commodo, ut pharetra ipsum semper. Suspendisse id mauris vel urna mattis aliquet vel ut arcu. Sed a urna fringilla, volutpat ex vitae, aliquet enim. Donec tempus mauris at mi euismod, sed porta neque scelerisque.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex. Nullam sagittis ligula nec justo commodo, ut pharetra ipsum semper. Suspendisse id mauris vel urna mattis aliquet vel ut arcu. Sed a urna fringilla, volutpat ex vitae, aliquet enim. Donec tempus mauris at mi euismod, sed porta neque scelerisque.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex. Nullam sagittis ligula nec justo commodo, ut pharetra ipsum semper. Suspendisse id mauris vel urna mattis aliquet vel ut arcu. Sed a urna fringilla, volutpat ex vitae, aliquet enim. Donec tempus mauris at mi euismod, sed porta neque scelerisque.

					ul.e-list--double_square.is-primary
						li.e-list--double_square__item A technology driven software
						li.e-list--double_square__item Good brand communications strategy
						li.e-list--double_square__item Social media audit

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum justo, et auctor tellus. Phasellus vel turpis elit. Pellentesque ex velit, finibus non viverra id, rhoncus a ex. Nullam sagittis ligula nec justo commodo, ut pharetra ipsum semper. Suspendisse id mauris vel urna mattis aliquet vel ut arcu. Sed a urna fringilla, volutpat ex vitae, aliquet enim. Donec tempus mauris at mi euismod, sed porta neque scelerisque.

			- var $tags_class = 'e-article__post_tags'
			include parts/_tags.jade

			- var $categories_class = 'e-article__post_categories'
			include parts/_categories.jade

			- var $socials_class = 'e-article__post_share_buttons'
			include ../../socials/_socials_square.jade

			- var $posts_adjacent_class = 'e-article__posts_adjacent'
			include parts/_posts_adjacent.jade

			- var $author_bio_class = 'e-article__author_bio'
			include parts/_author_bio.jade

			- var $posts_related_class = 'e-article__posts_related'
			include parts/_posts_related.jade

			- var $posts_comments_list_class = 'e-article__comments_list'
			include parts/_comments_list.jade

