article.e-article--left_small_thumb.clearfix(class=$article_class)
	img.e-article__img(src=$thumbnail alt='')

	h6.is-lg.e-article__title
		a.e-article__link(href='' title='') The US is a big oil importer again?

	span.e-article__created_date April 21, 2016