.e-widget.e-card.e-card--2nd
	.e-caption.e-caption--bold.e-padding_bottom--08
		h5.e-caption--bold__title.is-md #{$card_title}
	
	.e-card__outter
		.e-card__thumb.e-margin_bottom--06
			img.e-card__img( src=$card_thumb alt="" )

		.e-card__desc #{$card_desc}
		
		a.e-button.e-button--fill.is-primary.is-large.e-margin_top--06( href=$card_btn_link ) #{$card_btn_text}
	