.e-progress_bar.e-progress_bar--1st.clearfix
	h6.is-md.e-progress_bar__label #{$progress_bar__label}
	.e-progress_bar__max
		.e-progress_bar__current( 'data-percent'=$progress_bar__value 'data-start'='16px' )
			span.e-progress_bar__value #{$progress_bar__value}%