.e-progress_bar.e-progress_bar--secondary.clearfix
	span.e-progress_bar__label #{$progress_bar__label}

	.e-progress_bar__max
		.e-progress_bar__current( 'data-percent'=$progress_bar__value 'data-start'='0px' )			
			span.e-progress_bar__value.hidden #{$progress_bar__value}%
	span.e-progress_bar__index #{$progress_bar__index}