.e-widget.e-breadcrumb.e-breadcrumb--centered
	h3.is-sm.e-breadcrumb__title #{$breadcrumb_caption}
	.e-breadcrumb__links

		span.e-breadcrumb__item(itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem")
			a.e-breadcrumb__link(itemprop="item" href="index.html")
				span.e-breadcrumb__text(itemprop="name") Home
			meta(itemprop="position" content="1")

		span.e-breadcrumb__divider &#47;

		span.e-breadcrumb__item(itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem")
			a.e-breadcrumb__link(itemprop="item" class="current-page" href="")
				span.e-breadcrumb__text(itemprop="name") #{$breadcrumb_current}
			meta(itemprop="position" content="2")

