ul.e-main_menu__links.e-main_menu__links--default.sf-menu.clearfix

  li.current-menu-item.e-main_menu__link.e-main_menu__link--lvl_0
    a.e-main_menu__url(href=$e_home_url) Home

  li.e-main_menu__link.e-main_menu__link--lvl_0
    a.e-main_menu__url(href=$e_archive_url) Blog

  li.e-main_menu__link.e-main_menu__link--lvl_0
    a.e-main_menu__url(href=$e_single_url) Single
    ul.sub-menu
      li.e-main_menu__link
        a.e-main_menu__url(href=$e_single_url) Standart
      li.e-main_menu__link
        a.e-main_menu__url(href="single-video.html") Video
      li.e-main_menu__link
        a.e-main_menu__url(href="single-gallery.html") Gallery
      li.e-main_menu__link
        a.e-main_menu__url(href="single-audio.html") Audio
  
  li.e-main_menu__link.e-main_menu__link--lvl_0
    a.e-main_menu__url(href="page.html") Page
    ul.sub-menu
      li.e-main_menu__link
        a.e-main_menu__url(href="page-fullwidth.html") Page - Fullwidth
      li.e-main_menu__link
        a.e-main_menu__url(href="elements.html") Elements
      li.e-main_menu__link
        a.e-main_menu__url(href="contact.html") Contact
      li.e-main_menu__link
        a.e-main_menu__url(href="404.html") Error 404

  li.e-search.e-icon.e-circle.e-main_menu__link.e-main_menu__link--lvl_0
    a.e-main_menu__url(href="#")
      i.ti-search

  li.e-cart.e-icon.e-transparent.e-last.e-main_menu__link.e-main_menu__link--lvl_0
    a.e-main_menu__url(href="#")
      i.ti-shopping-cart