nav.e-top_menu.e-top_menu--right
	ul.e-top_menu__links
		li.e-top_menu__link.e-top_menu__link--lvl_0
			a.e-top_menu__url(href="#login") Login
		li.e-top_menu__link.e-top_menu__link--lvl_0.is-other
			a.e-top_menu__url(href="#register") Register