.e-widget.e-margin_top--09.e-count_down--circle

	.e-caption.e-caption--with_icon.is-center.e-padding_bottom--08
		h3.e-caption--with_icon__title.e-caption--with_icon__title--relative.clearfix
			i.e-caption--with_icon__icon.ti-write
			span.e-caption--with_icon__text Register Now

		p.e-caption--with_icon__subtitle Quisque cursus in augue eget faucibus suspendiss

	.e-count_down__counter.clearfix(data-datetime='2016,12,10')

		.e-count_down__date.e-date_block--circle.e-date--days
			b.e-date_block__number 14
			span.e-date_block__text days

		.e-count_down__divider
			span.e-count_down__divider__line.is-left
			span.e-count_down__divider__line.is-center
			span.e-count_down__divider__line.is-right

		.e-count_down__date.e-date_block--circle.e-date--hours
			b.e-date_block__number 00
			span.e-date_block__text hours

		.e-count_down__divider
			span.e-count_down__divider__line.is-left
			span.e-count_down__divider__line.is-center
			span.e-count_down__divider__line.is-right

		.e-count_down__date.e-date_block--circle.e-date--minutes
			b.e-date_block__number 44
			span.e-date_block__text minutes

		.e-count_down__divider
			span.e-count_down__divider__line.is-left
			span.e-count_down__divider__line.is-center
			span.e-count_down__divider__line.is-right

		.e-count_down__date.e-date_block--circle.e-date--seconds
			b.e-date_block__number 24
			span.e-date_block__text seconds
