.e-widget.e-count_down--first.e-widget--dark.e-bg_color--dark_05.e-widget--border_top.e-widget--border_primary.e-padding_bottom--09.e-padding--horizontal_07
	.e-caption.e-caption--with_icon.e-padding_top--10.e-padding_bottom--08
		h3.e-caption--with_icon__title.e-caption--with_icon__title--relative.clearfix
			i.e-caption--with_icon__icon.ti-alarm-clock
			span.e-caption--with_icon__text Free Course

		p.e-caption--with_icon__subtitle Create your Free account now and get immediate access to 100s of online courses.

	input(type="hidden" value="2016,12,10")
	.row.e-row--xs
		.col-xs-4
			.e-date_block.e-date_block--halfBg.e-date_block--border_round.e-date--hours
				b.e-date_block__number 00
				span.e-date_block__text hours
		.col-xs-4
			.e-date_block.e-date_block--halfBg.e-date_block--border_round.e-date--minutes
				b.e-date_block__number 00
				span.e-date_block__text minutes
		.col-xs-4
			.e-date_block.e-date_block--halfBg.e-date_block--border_round.e-date--seconds
				b.e-date_block__number 00
				span.e-date_block__text seconds
