.e-widget.e-count_down--secondary
	.e-caption.e-caption--medium.e-margin_bottom--07
		h4.is-md.is-bold.is-uppercase.e-caption__title.clearfix Upcomming Event


	h4.e-count_down__caption.is-md.is-regular Annual meetup and scholarship presentation

	.e-count_down__info.e-info.e-info--icon_left
		i.e-info__icon.ti-map-alt
		|198 Lost Angles Avenue, US

	.e-count_down__info.e-info.e-info--icon_left
		i.e-info__icon.fa.fa-calendar
		|December 10, 2016


	.e-count_down__counter.clearfix(data-datetime='2016,12,10')

		.e-count_down__date.e-date_block--solid.e-date--days
			b.e-date_block__number 14
			span.e-date_block__text days

		.e-count_down__divider

		.e-count_down__date.e-date_block--solid.e-date--hours
			b.e-date_block__number 00
			span.e-date_block__text hours

		.e-count_down__divider

		.e-count_down__date.e-date_block--solid.e-date--minutes
			b.e-date_block__number 44
			span.e-date_block__text minutes

		.e-count_down__divider

		.e-count_down__date.e-date_block--solid.e-date--seconds
			b.e-date_block__number 24
			span.e-date_block__text seconds

		a(href="#" title='').e-count_down__button.e-field.e-field--submit.e-button.e-button--fill.is-primary.is-huge Join Now
