.e-widget.e-intro.e-intro--secondary
	.e-intro__wrap.clearfix
		span.e-intro__icon.pull-left
			i.e-intro__symbol( class=$intro_icon)
		div.e-intro__desc
			p.e-intro__index #{$intro_number}
			p.e-intro__excerpt #{$intro_desc}