article.e-event--standard
	- var $image = 'demo/event/standard.jpg'

	.e-event__thumbnail
		img.e-event__thumbnail__img(src=$image title='')

		a.e-event__enroll.e-button.e-button--fill.is-huge.is-primary.is-uppercase(href='' title='') Join this event Now!

	.e-event__section.clearfix.e-margin_top--08
		h4.is-md.is-regular.e-event__section__title Event Details

		p If you work in computing and IT and have already completed a foundation degree or equivalent, this degree course tops up your knowledge and skills to honours degree level, putting you in a strong position to develop a fulfilling career in information technology and related fields. It will also enable you to engage. If you work in computing and IT and have already completed a foundation degree or equivalent, this degree course tops up your knowledge and skills to honours degree level, putting you in a strong pos..

	.e-event__section.clearfix.e-margin_top--08
		h4.is-md.is-regular.e-event__section__title Start time

		.e-event__metadata.e-metadata.e-metadata--secondary.clearfix
			span.e-metadata__item.e-metadata__item--icon
				i.e-metadata__item__icon.fa.fa-calendar
				span.e-metadata__item__text 26 April 2016

			span.e-metadata__item.e-metadata__item--icon
				i.e-metadata__item__icon.fa.fa-clock-o
				span.e-metadata__item__text 9:00 AM - 12:00 PM


	.e-event__section.clearfix.e-margin_top--08
		h4.is-md.is-regular.e-event__section__title Ending time

		.e-event__metadata.e-metadata.e-metadata--secondary.clearfix
			span.e-metadata__item.e-metadata__item--icon
				i.e-metadata__item__icon.fa.fa-calendar
				span.e-metadata__item__text 26 April 2016

			span.e-metadata__item.e-metadata__item--icon
				i.e-metadata__item__icon.fa.fa-clock-o
				span.e-metadata__item__text 9:00 AM - 12:00 PM

	.e-event__section.clearfix.e-margin_top--08
		h4.is-md.is-regular.e-event__section__title Event Location

		.e-event__metadata.e-metadata.e-metadata--secondary.clearfix
			span.e-metadata__item.e-metadata__item--icon
				i.e-metadata__item__icon.fa.fa-map-marker
				span.e-metadata__item__text  4908 Harper Street Madisonville, KY 42431

		.e-google_map--default.e-margin_top--05(id='e-google_map' data-latitude='35.711359' data-longitude='139.730995' data-place='Your address')
