nav.navigation
	.nav-links
		a.page-numbers.prev( href="#" )
			i.fa.fa-angle-left
		
		span.page-numbers.current 1
		a.page-numbers( href="#" ) 2													
		a.page-numbers( href="#" ) 3													
		a.page-numbers( href="#" ) 4
		a.page-numbers.dots( href="#" ) ...													

		a.page-numbers.next( href="#" )
			i.fa.fa-angle-right