.e-pagination--third.clearfix

	a.e-pagination__item.is-prev.pull-left( href="#" )
		i.e-pagination__item__icon.fa.fa-angle-left
		span.e-pagination__item__text Newer

	a.e-pagination__item.is-next.pull-right( href="#" )
		span.e-pagination__item__text Older
		i.e-pagination__item__icon.fa.fa-angle-right