article.e-course.e-course--fullWidth.e-course--boxShadow.e-margin_bottom--07
	.row
		.col-lg-3.e-course__left
			figure.e-course__thumbnail.e-course__thumbnail--relative.clearfix
				img.img-responsive(src=$image alt)

				a.e-course__term.e-button.e-button--fill.is-primary.is-small.is-uppercase.is-round( href=$e_archive_url ) Education
			
				span.e-course__stick.e-stick.e-stick--triangle.is-primary New

		.col-lg-9.e-course__right
			.e-course__content
				
				h5.is-md.e-course__name.clearfix
					a.e-course__link(href=$e_single_url) Become a startup founder
					i.e-course__rating.e-rating.e-rating--three.e-rating--small.e-rating--primary.fa
				
				.e-metadata.e-metadata--default.clearfix.e-margin_top--04
					span.e-metadata__item.e-metadata__item--text
						span.e-metadata__item__label Start Date: 
						a.e-metadata__item__link( href="#" title="" ) June 28, 2016

					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-users
						span.e-metadata__item__text 246 Members
					
					span.e-metadata__item.e-metadata__item--icon
						i.e-metadata__item__icon.fa.fa-comments
						span.e-metadata__item__text 3 Comments


				.e-course__excerpt.e-margin_top--04
					|Proin efficitur nibh eleifend ligula tincidunt, id mollis metus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ornare odio tortor. Morbi ut aliquam eros.

				.e-price.e-margin_top--05
					a(href="#" title="").e-price__ins.e-button.e-button--fill.is-primary.is-medium
						ins.e-price__ins__link $122.25				
					a(href="#" title="").e-price__del.e-button.is-medium 
						del.e-price__del__link $240.05
					a(href="#" title="").e-price__more.e-button.e-button--solid.is-primary.is-medium.is-round.pull-right Join Us
