// color.
.e-color-primary{
	color: $e_primary_color;
}

.e-color-secondary{
	color: $e_secondary_color;
}

.e-color-heading{
	color: $e_color_heading;
}

.e-color-white{
	color: $e_white;
}

.e-bg-primary{
	background-color: $e_primary_color;
}

.e-link-one{
	color: $e_link_color_02;
	&:hover{
		color: $e_link_hover_color_02;
	}
}

.e-link-two{
	color: $e_primary_color;
}

// borders.

.e-border-primary{
 	border-color: $e_primary_color;
}

.e-shadow-primary{
	@include box-shadow( 0px, 1px, 1px, 0px, rgba( 255, 125, 0, 0.3 ) !important );
}

.e-shadow-secondary{
	@include box-shadow( 0px, 1px, 1px, 0px, rgba( 150, 150, 150, 0.3 ) );
}

