.e-bg{	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
}

.e-overlay{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		background: $rgba_dark_01;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	& > div{
		position: relative;
		z-index: 2;
	}
}

.e-parallax{
	&::after{
		display: block;
		content: '';
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;

		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}

.e-box{
	position: relative;	
	background-color: $e_white;
	@extend .e-shadow-secondary;
	padding: 0px $e_space_14;	
	z-index: 3;	
}