.e-widget.e-category_list.e-category_list--flat.e-margin_bottom--10

	include ../caption/_switcher.jade
	
	ul.e-category_list__container
		li.e-category_list__item
			a.e-category_list__link(href="category.html") 
				|Design & Illustration
				span.e-category_list__count (15)
		li.e-category_list__item
			a.e-category_list__link(href="category.html") 
				|Code
				span.e-category_list__count (30)
		li.e-category_list__item
			a.e-category_list__link(href="category.html")
				|Web Design
				span.e-category_list__count (45)
		li.e-category_list__item
			a.e-category_list__link(href="category.html")
				|Photo & Video
				span.e-category_list__count (60)
		li.e-category_list__item
			a.e-category_list__link(href="category.html")
				|Music & Audio
				span.e-category_list__count (75)
		li.e-category_list__item
			a.e-category_list__link(href="category.html")
				|Bundles
				span.e-category_list__count (90)
