.e-widget.e-text.e-text--default
	.e-caption.e-caption--borderBottom.e-padding_bottom--05.e-margin_bottom--05
		h5.is-md.e-caption__title.clearfix
			i.e-caption__icon.fa.fa-ellipsis-v
			span.e-caption__text Links
	
	.e-text__outter
		.row
			.col-lg-6
				ul.e-lists.e-lists--default
					li.e-lists__item
						a.e-lists__link( href="#" ) Home
					li.e-lists__item
						a.e-lists__link( href="#" ) Our Shop
					li.e-lists__item
						a.e-lists__link( href="#" ) About us
					li.e-lists__item
						a.e-lists__link( href="#" ) Contact us
					li.e-lists__item
						a.e-lists__link( href="#" ) Checkout
					li.e-lists__item
						a.e-lists__link( href="#" ) My Accout

			.col-lg-6
				ul.e-lists.e-lists--default
					li.e-lists__item
						a.e-lists__link( href="#" ) Documents
					li.e-lists__item
						a.e-lists__link( href="#" ) Forums
					li.e-lists__item
						a.e-lists__link( href="#" ) Learn Press
					li.e-lists__item
						a.e-lists__link( href="#" ) WordPress
					li.e-lists__item
						a.e-lists__link( href="#" ) Drupal						
