.e-widget.e-text.e-text--default

	include ../caption/_switcher.jade
	
	.e-text__outter
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				ul.e-lists.e-lists--default
					li.e-lists__item
						a.e-lists__link( href="#" ) Home
					li.e-lists__item
						a.e-lists__link( href="#" ) Our Shop
					li.e-lists__item
						a.e-lists__link( href="#" ) About us
					li.e-lists__item
						a.e-lists__link( href="#" ) Contact us
					li.e-lists__item
						a.e-lists__link( href="#" ) Checkout
					li.e-lists__item
						a.e-lists__link( href="#" ) My Accout

			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				ul.e-lists.e-lists--default
					li.e-lists__item
						a.e-lists__link( href="#" ) Documents
					li.e-lists__item
						a.e-lists__link( href="#" ) Forums
					li.e-lists__item
						a.e-lists__link( href="#" ) Learn Press
					li.e-lists__item
						a.e-lists__link( href="#" ) WordPress
					li.e-lists__item
						a.e-lists__link( href="#" ) Drupal						
