.e-widget.e-accordions.e-box.e-custom-12
	.e-widget-title.e-one		
		h3 
			i.ti-files
			span Why choose us
		p Quisque cursus in augue eget faucibus

	
	.e-accordions.e-first
		- for (var $i=0; $i<4; $i++)
			- var $class = (0 == $i) ? 'e-active' : ''		
			h4(class=$class)
				span 0#{$i+1}
				|#{$e_titles[$i]}

			div.e-content(class=$class)
				p 
					b Fusce eleifend. Donec sapien sed phase lusa
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam sed diam nonummy nibh euismod tincidunt ut laoreet dolore. Premium quality products consectetuer adipiscing elit diam.