.e-widget.e-accordions.e-box
	.e-widget-title.e-one
		i.ti-files
		h3 Why choose us
		p Quisque cursus in augue eget faucibus


	- for (var $i=0; $i<4; $i++)
		- var $class = (0 == $i) ? 'e-active' : ''		
		h4(class=$class)
			span #{$i+1}
			|#{$e_titles[$i]}

		div.e-content
			p 
				b Fusce eleifend. Donec sapien sed phase lusa
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam sed diam nonummy nibh euismod tincidunt ut laoreet dolore. Premium quality products consectetuer adipiscing elit diam.