.e-widget.e-blog
	.e-widget-title.e-one.e-center		
		h3 
			i.fa.fa-pagelines
			span Education News
		p Quisque cursus in augue eget faucibus suspendisse vel mattis libero aliquam 

	.row.owl-carousel
		- for (var $i=0; $i<4; $i++)
			- var $image = 'demo/blog/1.jpg'
			article.col-xs-12
				figure
					img.img-responsive(src=$image alt)					
				.e-content
					time
						|09
						span Jul, 15
					h4 Learning And Collobarating
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum dolor sit amet.

					a(href=$e_single_url) Read more