.e-widget.e-carousel
	.e-widget-title.e-one
		h3
			i.fa.fa-send-o
			span Latest courses
			button.e-prev.ti-angle-left
			button.e-next.ti-angle-right

		p It gave me the opportunity to step back

	.row
		.owl-carousel
			- for (var $i=0; $i<4; $i++)
				- var $image = 'demo/carousel/1.jpg'
				.col-xs-12
					article
						figure
							img.img-responsive(src=$image alt)
							figcaption
								a(href=$e_archive_url) Education							
								span 83 days
								i.fa.fa-clock-o
						.e-content
							h3
								a(href=$e_single_url) Become a startup founder
								i.fa.e-star.e-three
							.e-price
								ins $122.25
								del $240.05




