.e-widget.e-count-down.e-custom-03.e-custom-05
	.e-widget-title.e-one		
		h3 
			i.ti-alarm-clock
			span Register Now
		p Create your Free account now and get immediate access to 100s of online courses.
	
	input(type="hidden" class="e-date" value="2016,07,01")
	.row
		.col-xs-4
			.e-number
				b 00
				span hours
		.col-xs-4
			.e-number
				b 00
				span minutes
		.col-xs-4
			.e-number
				b 00
				span seconds
