.e-widget.e-count-down
	.e-widget-title.e-one
		i.ti-alarm-clock
		h3 Register Now
		p Create your Free account now and get immediate access to 100s of online courses.

	.row
		.col-xs-4
			|14
			span hours
		.col-xs-4
			|20
			span minutes
		.col-xs-4
			|30
			span seconds
