.row
	.col-md-4
		.e-widget.e-intro.e-second
			.e-item
				i.fa.fa-graduation-cap
				b 190
				span Countries reached
	.col-md-4
		.e-widget.e-intro.e-second
			.e-item
				i.fa.fa-book
				b 25000
				span Passed graduates
	.col-md-4
		.e-widget.e-intro.e-second
			.e-item
				i.fa.fa-users
				b 3400
				span Courses published