.row.e-custom-09
	.col-md-4
		.e-widget.e-intro.e-first
			.e-item
				i.icon-basic-lightbulb
				span Over 400 students Enrolled Learn Skills
	.col-md-4
		.e-widget.e-intro.e-first
			.e-item
				i.icon-basic-book
				span More than 3020 Online Courses Available
	.col-md-4
		.e-widget.e-intro.e-first
			.e-item
				i.fa.fa-users
				span More than 320 Instructors Available