.e-widget.e-register
	form.row( action="#" method="post" )		
		p.col-md-6
			input(type="text" name="name" placeholder="Name *")
		p.col-md-6
			input(type="email" name="email" placeholder="Email *")
		p.col-md-12
			input(type="text" name="phone" placeholder="Phone")
		p.col-md-12
			input(type="submit" value="Get it now")