.e-widget.e-register.e-custom-06
	form.e-form.row( action="#" method="post" )
		.col-md-6
			input(type="text" name="name" placeholder="Name *")
		.col-md-6
			input(type="email" name="email" placeholder="Email *")
		.col-md-12
			input(type="text" name="phone" placeholder="Phone")
		.col-md-12
			input(type="submit" value="Get it now")