.row
	.col-md-4
		.e-widget.e-service.e-one
			p
				i.fa.fa-graduation-cap
				|Over 400 students Enrolled Learn Skills
	.col-md-4
		.e-widget.e-service
			p
				i.fa.fa-book
				|More than 3020 Online Courses Available
	.col-md-4
		.e-widget.e-service
			p
				i.fa.fa-users
				|More than 320 Instructors Available