.row
	.col-md-4
		.e-widget.e-service.e-two
			div
				i.fa.fa-graduation-cap
				b 190
				p Countries reached
	.col-md-4
		.e-widget.e-service
			div
				i.fa.fa-book
				b 25000
				p Passed graduates
	.col-md-4
		.e-widget.e-service
			div
				i.fa.fa-users
				b 3400
				p Courses published