.e-widget.e-welcome.e-custom-07
	.e-widget-title.e-two		
		h4 Welcome to Edusite
		h3
			|The 
			span Latest 
			| Course

	.e-content
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh “euismod tincidunt” ut laoreet dolore magna aliquam losa volutpat. Lorem ipsum dolor sit amet.

	a.e-button( href="callto:166634346790" title )
		span Have question ?
		span 1-666-3434-6790
