.e-widget.e-tags.e-tags--cloud.e-margin_bottom--10
	.e-caption.e-caption--borderBottomLong.e-padding_bottom--05.e-margin_bottom--05
		h5.is-md.e-caption__title.clearfix			
			span.e-caption__text Tags Cloud

	.e-tags__outter.clearfix
		a.e-tag.e-tag--solid(href=$e_archive_url) Youtube
		a.e-tag.e-tag--solid(href=$e_archive_url) Standard
		a.e-tag.e-tag--solid(href=$e_archive_url) Audio
		a.e-tag.e-tag--solid(href=$e_archive_url) Map
		a.e-tag.e-tag--solid(href=$e_archive_url) Quote
		a.e-tag.e-tag--solid(href=$e_archive_url) Lightbox
		a.e-tag.e-tag--solid(href=$e_archive_url) Gallery
		a.e-tag.e-tag--solid(href=$e_archive_url) Vimeo
		a.e-tag.e-tag--solid(href=$e_archive_url) Article