.e-course_summary.e-course_summary--simple
	.e-course_summary__add_to_cart
		a.e-button.e-button--fill.e-button--icon_left.is-primary.is-huge(href="")
			i.e-button__icon.fa.fa-tag.fa-flip-horizontal
			span.e-button__text Course Fee: $299

	.row.e-row--noSpace
		.col-lg-6.e-margin_top--07
			.e-list.e-list--centered
				.e-list__item.e-margin_bottom--06
					.row.e-row--noSpace
						.col-lg-5.col-xs-5
							.e-list__key
								i.e-list__key__icon.fa.fa-clock-o
								span.e-list__key__text Started
						.col-lg-7.col-xs-7
							.e-list__value : 09 Nov, 2015

				.e-list__item.e-margin_bottom--06
					.row.e-row--noSpace
						.col-lg-5.col-xs-5
							.e-list__key
								i.e-list__key__icon.fa.fa-newspaper-o
								span.e-list__key__text Duration
						.col-lg-7.col-xs-7
							.e-list__value : 60 Hours

				.e-list__item.e-margin_bottom--06
					.row.e-row--noSpace
						.col-lg-5.col-xs-5
							.e-list__key
								i.e-list__key__icon.fa.fa-pencil-square-o
								span.e-list__key__text Lecture
						.col-lg-7.col-xs-7
							.e-list__value : 28 Classes

				.e-list__item.e-margin_bottom--06
					.row.e-row--noSpace
						.col-lg-5.col-xs-5
							.e-list__key
								i.e-list__key__icon.fa.fa-align-right.fa-flip-horizontal
								span.e-list__key__text Skill level
						.col-lg-7.col-xs-7
							.e-list__value : 09 Nov, 2015

				.e-list__item
					.row.e-row--noSpace
						.col-lg-5.col-xs-5
							.e-list__key
								i.e-list__key__icon.fa.fa-users
								span.e-list__key__text Seats
						.col-lg-7.col-xs-7
							.e-list__value : 154 Students

		.col-lg-6.e-margin_top--07
			.e-author.e-author--socials_card
				figure.e-author__avatar
					img.e-author__img(src="demo/author/author-socials-card.jpg" alt="")
					figcaption
						h6.e-author__name.is-lg.is-uppercase Karla Smith
						h6.e-author__jobs.is-sm Chief Trainer

				.e-author__socials
					include ../../socials/_socials_solid_circle.jade
