section.e-section.e-section--child.e-section--dark.has-overlay.has-overlay_primary
	.e-container.container
		.row
			.col-lg-12
				.e-col.clearfix.e-padding_top--11.e-padding_bottom--15
					.e-page_title.e-page_title--default
						h4.e-page_title__subtitle.is-md Lecture 1.1
						h3.e-page_title__title.is-sm.is-uppercase Become a PHP Master and Make Money Fast
						a.e-page_title__action.clearfix( href="#" )
							i.e-page_title__action__icon.fa.fa-play
							span.e-page_title__action__text Video Course

