.e-pagination_loadmore--default.e-margin_top--08.clearfix
	a.e-pagination_loadmore__link( href='#' title='' )
		i.e-pagination_loadmore__icon.ti-reload
	h6.is-lg.e-pagination_loadmore__label.clearfix Load more
