.e-caption.e-caption--border_bottom.e-padding_bottom--05.e-margin_bottom--05(class=$widget_title_class)
	h5.is-md.e-caption__title.clearfix
		i.e-caption__icon(class=$widget_title_icon)
		span.e-caption__text #{$widget_title}