.e-widget.e-text.e-text--default
	.e-caption.e-caption--with_icon.is-center.e-padding_bottom--08
		h3.e-caption--with_icon__title.e-caption--with_icon__title--relative.clearfix
			i.e-caption--with_icon__icon( class=$caption_icon )
			span.e-caption--with_icon__text #{$caption_text}
		
		p.e-caption--with_icon__subtitle #{$caption_desc}
