if ( 'border_right' == $widget_title_style )
	include _border_right.jade
else if ( 'border_bottom' == $widget_title_style )
	include _border_bottom.jade
else if ( 'border_bottom_long' == $widget_title_style )
	include _border_bottom_long.jade
else if ( 'centered' == $widget_title_style )
	include _centered.jade
else if ( 'default_lowercase' == $widget_title_style )
	include _default_lowercase.jade		