header.e-header.e-header--fixed
	.container
		.e-header_top.row
			.col-lg-6
				include ../nav/_top_left.jade

			.col-lg-6
				include ../nav/_top_right.jade
		
		.e-header_bottom.e-header_bottom--fixed.clearfix
			include ../logo/_default.jade

			nav.e-navigation.pull-right
				include ../nav/_primary.jade