.e-socials
	p
		a(href="#" title)
			i.fa.fa-facebook
		a(href="#" title)
			i.fa.fa-twitter
		a(href="#" title)
			i.fa.fa-pinterest
		a(href="#" title)
			i.fa.fa-behance
		a(href="#" title)
			i.fa.fa-dribbble