.e-widget.e-tweets.e-tweets--list
	
	include ../caption/_switcher.jade

	.e-tweets__outter

		.e-tweets__single
			.e-tweets__content 
			|@colourstheme: How a Melbourne startup reached a major milestone and what comes next 
			a(href="#" title="") https://t.co/IJ7ZvpUyNO

			.e-tweets__date 12 hours ago

		.e-tweets__single.is-other
			.e-tweets__content 
			|@colourstheme: How a Melbourne startup reached a major milestone and what comes next 
			a(href="#" title="") https://t.co/IJ7ZvpUyNO

			.e-tweets__date 12 hours ago

