.e-widget.e-tweets.e-tweets--list
	.e-caption.e-caption--borderBottom.e-padding_bottom--05.e-margin_bottom--05
		h5.is-md.e-caption__title.clearfix
			i.e-caption__icon.fa.fa-twitter
			span.e-caption__text Latest Tweets

	.e-tweets__outter

		.e-tweets__single
			.e-tweets__content 
			|@colourstheme: How a Melbourne startup reached a major milestone and what comes next 
			a(href="#" title="") https://t.co/IJ7ZvpUyNO

			.e-tweets__date 12 hours ago

		.e-tweets__single.is-other
			.e-tweets__content 
			|@colourstheme: How a Melbourne startup reached a major milestone and what comes next 
			a(href="#" title="") https://t.co/IJ7ZvpUyNO

			.e-tweets__date 12 hours ago

