ul.e-socials.e-socials--default
	li.e-socials__item
		a.e-socials__link( href="#" )
			i.fa.fa-facebook

	li.e-socials__item
		a.e-socials__link( href="#" )
			i.fa.fa-twitter

	li.e-socials__item
		a.e-socials__link( href="#" )
			i.fa.fa-pinterest

	li.e-socials__item
		a.e-socials__link( href="#" )
			i.fa.fa-dribbble

	li.e-socials__item
		a.e-socials__link( href="#" )
			i.fa.fa-instagram
