ul.e-social.e-social--solid_circle
	li.e-social__item
		a.e-social__link( href="#" )
			i.fa.fa-facebook

	li.e-social__item
		a.e-social__link( href="#" )
			i.fa.fa-twitter

	li.e-social__item
		a.e-social__link( href="#" )
			i.fa.fa-pinterest

	li.e-social__item
		a.e-social__link( href="#" )
			i.fa.fa-dribbble

	li.e-social__item
		a.e-social__link( href="#" )
			i.fa.fa-instagram