ul.e-social.e-social--solid_circle_primary
	li.e-social__caption
		h6.is-xs.is-uppercase.e-social__caption__text Follow Us:

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-facebook

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-twitter

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-google-plus

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-linkedin
