ul.e-social.e-social--square(class=$socials_class)
	li.e-social__caption
		span.e-social__caption__text Share the article:

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-facebook

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-twitter

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-google-plus

	li.e-social__item
		a.e-social__link( href="#" )
			i.e-social__icon.fa.fa-linkedin
