.e-widget.e-archive.e-archive--flat.e-margin_bottom--10
	.e-caption.e-caption--border_bottom_lg.e-padding_bottom--05.e-margin_bottom--05
		h5.is-md.e-caption__title.clearfix			
			span.e-caption__text Archives

	ul.e-archive__container
		li.e-archive__item
			a.e-archive__link(href="category.html") 
				|July 2015
				span.e-archive__count (15)
		li.e-archive__item
			a.e-archive__link(href="category.html") 
				|June 2015
				span.e-archive__count (30)
		li.e-archive__item
			a.e-archive__link(href="category.html")
				|April 2015
				span.e-archive__count (45)
		li.e-archive__item
			a.e-archive__link(href="category.html")
				|Marc 2015
				span.e-archive__count (60)
		li.e-archive__item
			a.e-archive__link(href="category.html")
				|February 2015
				span.e-archive__count (75)
		li.e-archive__item
			a.e-archive__link(href="category.html")
				|January 2015
				span.e-archive__count (90)