.e-accordions{
	&.e-first{			
		padding-bottom: $e_space_04;

		& > h4{
			margin-top: 0px;
			margin-bottom: 5px;
			@extend .e-heading-005;
			padding: 10px 0px 10px 64px;
			background-color: $bg_005;
			position: relative;
			cursor: pointer;

			& > span{
				display: block;
				position: absolute;				
				top: 0px;
				left: 0px;
				bottom: 0px;
				width: 44px;
				line-height: 44px;
				text-align: center;
				background-color: $bg_003;
				color: $bg_006;	
			}

			&.e-active{
				@extend .e-bg-primary;
				color: $e_white;
				& > span{
					background-color: $e_third_color;
					color: $e_white;
				}
			}
		}

		& > .e-content{			
			position: relative;			
			margin-top: 0px;
			margin-bottom: 5px;
			
			font-size: 14px;		

			
			@include transition( 0.5s );
			display: block;
			height: 0px;
			overflow: hidden;
			padding: 0px 0px 0px $e_space_03;

			b{
				font-size: 15px;
				font-weight: 400;
				color: $e_title_color_01;
			}

			&.e-active{
				padding: $e_space_12 0px $e_space_12 $e_space_03;		
				opacity: 1;
				height: auto;

				&::before{
					width: $e_space_16;
				}
			}

			p{
				margin-top: 0px;
			}

			&::before{
				@include transition( 0.25s );
				content: '';
				display: block;
				position: absolute;
				top: $e_space_12;
				left: 0px;
				height: $e_space_03;
				width: 0px;
				@extend .e-bg-primary;
			}
		}
	
	}
}