.e-button-001{	
	@include inline-block();	
	@extend .e-bg-primary;
	@extend .e-font-two;
	padding: 0px 30px;
	color: $e_white;	
	text-transform: uppercase;	
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 45px;
	height: 45px;
	text-decoration: none;
}

.e-button-002{
	@include inline-block();
	@include border-radius( 5px );
	@include box-shadow( 0px, 1px, 1px, 0px, rgba( 150, 150, 150, 0.3 ) );
	border: 1px solid $bg_003;	
	
	background-color: $e_white;
	padding: 0px $e_space_13;

	span{
		@include inline-block();
		margin: 14px 0px;
		padding: 0px $e_space_04;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;				
		height: 20px;
		line-height: 20px;		

		&:nth-child(1){
			@extend .e-color-heading;
			border-right: 1px solid $e_secondary_color;
		}	

		&:nth-child(2){
			@extend .e-color-primary;
		}
	}	
}