form.e-form{	
	
	input{
		&[type="text"],
		&[type="email"],
		&[type="submit"]{
			@extend .e-shadow-secondary;
			height: $e_space_03;
			line-height: $e_space_03;			
			padding: 0px 15px;
			border: none;			
		}
		
		&[type="text"],
		&[type="email"]{
			background: $e_white;
		}

		&[type="submit"]{
			@extend .e-bg-primary;
			color: $e_white;
		}
	}
	
	select{
		@extend .e-shadow-secondary;
		height: $e_space_03;
		line-height: $e_space_03;			
		padding: 0px 15px;
		border: none;		
		background: $bg_004;
	}

}