.e-widget.e-form--register.e-padding--horizontal_07.e-padding--vertical_09
	form.e-form( action="#" method="post" )
		.row.e-row--sm.e-field_group.e-field_group--first
			.col-md-6
				input.e-field.e-field--text.is-solid.is-medium.is-full_width(type="text" name="name" placeholder="Name *")
			.col-md-6
				input.e-field.e-field--text.is-solid.is-medium.is-full_width(type="email" name="phone" placeholder="Phone")
		.e-field_group.e-field_group--other.e-margin_top--04
			input.e-field.e-field--text.is-solid.is-medium.is-full_width(type="text" name="email" placeholder="Email *")
		.e-field_group.e-field_group--last.e-margin_top--04
			input.e-field.e-field--submit.e-button.e-button--fill.is-primary.is-medium.is-full_width(type="submit" value="Signup Now")