.e-widget.e-form.e-form--register.e-padding--07
	form.e-form( action="#" method="post" )
		.row.e-row--sm.e-field_group.e-field_group--first
			.col-md-6
				input.e-field.e-field--text.e-width--full(type="text" name="name" placeholder="Name *")
			.col-md-6
				input.e-field.e-field--text.e-width--full(type="email" name="phone" placeholder="Phone")
		.e-field_group.e-field_group--other.e-margin_top--04
			input.e-field.e-field--text.e-width--full(type="text" name="email" placeholder="Email *")
		.e-field_group.e-field_group--last.e-margin_top--04
			input.e-field.e-field--submit.e-width--full.e-button.e-button--primary.e-button--medium(type="submit" value="Signup Now")