.e-widget.e-form_register--secondary.e-margin_top--07
	form.e-form( action="#" method="post" )
		.row.e-row--sm
			.col-md-3
				.e-field_group
					input.e-field.e-field--text.is-solid.is-huge.is-fullwidth.is-round(type="text" name="name" placeholder="Name *")
			.col-md-3
				.e-field_group
					input.e-field.e-field--text.is-solid.is-huge.is-fullwidth.is-round(type="text" name="email" placeholder="Email *")
			.col-md-3
				.e-field_group
					input.e-field.e-field--text.is-solid.is-huge.is-fullwidth.is-round(type="email" name="phone" placeholder="Phone")
			.col-md-3
				.e-field_group
					input.e-field.e-field--submit.e-button.e-button--fill.is-primary.is-huge.is-fullwidth.is-round(type="submit" value="Signup Now")
