.e-navigation{
	a{
		text-decoration: none;
	}

	ul, li {
		list-style-type: none;
	}

	ul {
		padding-left: 0px;
		margin-bottom: 0px;	
	}

	& > ul > li {
		@include inline-block();
		position: relative;
		margin: 0px 10px;
	
		&.current-menu-item{
			&::before{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				top: 0px;
				left: 0px;
				height: 3px;
				@extend .e-bg-primary;
			}
			a{
				font-weight: 700;
			}
		}

		& > a{
			height: 84px;
			line-height: 84px;
			padding: 0px 10px;
			font-weight: 400;
			color: $e_menu_color;			
		}
	
		&.e-first{
			margin-left: 0px;
		}

		&.e-last{
			margin-right: -10px;
		}

		&.e-icon{
			
		}

		&.e-circle{
			font-size: 12px;

			&::after{
				@include border-radius( 50% );
				@extend	.e-bg-primary;
				width: 30px;
				height: 30px;
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -15px;
				margin-left: -15px;
			}

			& > a {
				position: relative;
				z-index: 20;
				color: $e_white;
			}
			
		} 

		&.e-transparent{
			a{
				@extend .e-color-primary;
				font-size: 24px;
			}
		}

	}
}