.e-widget.e-contact_form.e-contact_form--quick
	.e-caption.e-caption--borderBottom.e-padding_bottom--05.e-margin_bottom--05
		h5.is-md.e-caption__title.clearfix
			i.e-caption__icon.ti-email
			span.e-caption__text Quick Contact

	.e-contact_form__desc Magically evocative notes immediately awaken your deepest senses.

	.e-space--07

	form.e-form( action="#" method="post" )
		.e-field_group.is-first
			input.e-field.e-field--text.is-solid.is-medium.is-fullwidth(type="text" name="email" placeholder="Email *")
		
		.e-field_group.is-other.e-margin_top--01
			textarea.e-field.e-field--textarea.is-solid.is-medium.is-fullwidth(name="message" placeholder="Message")

		.e-field_group.is-last.e-margin_top--01
			input.e-field.e-field--submit.e-button.is-primary.is-medium.is-fullwidth( type="submit" value="Send Email" )