.e-widget.e-text.e-text--default

	include ../caption/_switcher.jade

	.e-text__outter
		.e-content Magically evocative notes immediately awaken your deepest senses, giving you the impression of living life in your own secret garden, away from reality.

		.e-space--07

		.e-info.e-info--iconLeft
			i.e-info__icon.ti-map-alt
			|198 Lost Angles Avenue, US

		.e-info.e-info--iconLeft
			i.e-info__icon.fa.fa-envelope-o		
			a( href="mailto:colourstheme@gmail.com" ) colourstheme@gmail.com

		.e-info.e-info--iconLeft
			i.e-info__icon.fa.fa-phone-square
			|Call: 
			a( href="callto:9001002345" ) 900-100-2345