.e-widget.e-text.e-text--default
	.e-caption.e-caption--borderBottom.e-padding_bottom--05.e-margin_bottom--05
		h5.is-md.e-caption__title.clearfix
			i.e-caption__icon.fa.fa-cogs
			span.e-caption__text About

	.e-text__outter
		.e-content Magically evocative notes immediately awaken your deepest senses, giving you the impression of living life in your own secret garden, away from reality.

		.e-space--07

		.e-info.e-info--iconLeft
			i.e-info__icon.ti-map-alt
			|198 Lost Angles Avenue, US

		.e-info.e-info--iconLeft
			i.e-info__icon.fa.fa-envelope-o		
			a( href="mailto:colourstheme@gmail.com" ) colourstheme@gmail.com

		.e-info.e-info--iconLeft
			i.e-info__icon.fa.fa-phone-square
			|Call: 
			a( href="callto:9001002345" ) 900-100-2345