.e-widget.e-card.e-card--default
	.e-card__outter
		img.e-card__img.img-responsive( src=$card_thumb )
		.e-card__overlay
		h5.is-md.e-card__title 
			a.e-card__title__link( href="#" title="") All Business
		p.e-card__subtitle 
			a.e-card__subtitle__link( href="#" title="") Website


