.e-widget.e-count_down.e-widget--dark.e-bg_color--dark_05.e-widget--borderTop.e-widget--borderPrimary.e-padding--0_07_07_07
	.e-caption.e-caption--withIcon.e-padding_top--10.e-padding_bottom--08
		h3.e-caption--withIcon__title.e-caption--withIcon__title--relative.clearfix
			i.e-caption--withIcon__icon.ti-alarm-clock
			span.e-caption--withIcon__text Register Now

		p.e-caption--withIcon__subtitle Create your Free account now and get immediate access to 100s of online courses.


	input(type="hidden" value="2016,08,06")
	.row.e-row--xs
		.col-xs-4
			.e-date_block.e-date_block--halfBg.e-date_block--borderRound.e-date--hours
				b.e-date_block__number 00
				span.e-date_block__text hours
		.col-xs-4
			.e-date_block.e-date_block--halfBg.e-date_block--borderRound.e-date--minutes
				b.e-date_block__number 00
				span.e-date_block__text minutes
		.col-xs-4
			.e-date_block.e-date_block--halfBg.e-date_block--borderRound.e-date--seconds
				b.e-date_block__number 00
				span.e-date_block__text seconds
