.e-widget.e-text.e-text--default
	.e-caption.e-caption--bold.e-padding_bottom--08
		h5.e-caption--bold__title.is-md Amazing Skills

	.e-text__outter
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget tellus eleifend, malesuada leo non, pulvinar urna. Vestibulum vel dapibus justo. Phasellus venenatis mi ut purus tempor, nec volutpat velit iaculis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget tellus eleifend, malesuada leo non, pulvinar urna. Vestibulum vel dapibus justo.
		
		.e-space--07

		- var $progress_bar__label = 'WordPress'
		- var $progress_bar__value = 75
		include ../elements/_progress-bar-1st.jade
		
		- var $progress_bar__label = 'Web Design'
		- var $progress_bar__value = 90
		include ../elements/_progress-bar-1st.jade
		
		- var $progress_bar__label = 'Online Marketing'
		- var $progress_bar__value = 60
		include ../elements/_progress-bar-1st.jade

		- var $progress_bar__label = 'Graphics Design'
		- var $progress_bar__value = 45
		include ../elements/_progress-bar-1st.jade