.e-widget.e-widget--dark.e-intro.e-intro--text.e-margin_top--14b

	.e-caption.e-caption--withPrefix
		h6.e-caption--withPrefix__subtitle.is-md Welcome to Edusite
		h3.e-caption--withPrefix__title.is-sm
			|The 
			span Latest 
			| Course		

	.e-intro__content
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh “euismod tincidunt” ut laoreet dolore magna aliquam losa volutpat. Lorem ipsum dolor sit amet.

		a.e-cta.e-cta--default.e-cta--light.e-margin_top--05.clearfix( href="callto:166634346790" title )
			span.e-cta--default__secondary Have question ?
			span.e-cta--default__primary 1-666-3434-6790
