.e-widget.e-couse_desc--default
	.e-caption.e-caption--border_bottom.is-sm.e-padding_bottom--05.e-margin_bottom--05
		h5.is-md.e-caption__title.clearfix			
			span.e-caption__text Course Description

	.e-couse_desc__content
		p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		
		div.e-space--05
		h5.is-md.is-regular Requirements
		
		ul.e-ul.e-ul--square.is-primary
			li.e-ul__li Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			li.e-ul__li Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			li.e-ul__li Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
