.e-widget.e-events--one_col
	.e-events__outer
		- for (var $i=0; $i<2; $i++)
			.e-events__item

				.e-events__item__datetime
					.e-date_block--border_top
						span.e-date_block__month Nov
						span.e-date_block__day 14
						span.e-date_block__year 2016

				.e-events__item__summary
					a(href='#' title='').e-events__item__sub_title In-Person Event

					h5.is-xs.is-uppercase.e-events__item__title
						a.e-events__item__title__link(href='#' title='') 2016 LLM Tour in Europe
						i.e-events__item__title__icon.arrow_right

					p.e-events__item__location
						span.e-events__item__location__label Locations:
						a.e-events__item__location__link(href='#' title='') Netherlands
