.e-duration-05 {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.e-duration-15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.e-duration-20 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.e-duration-25 {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
.e-duration-30 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.e-duration-40 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}
.e-duration-50 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}