.e-widget.e-text.e-text--default.e-widget--dark
	.e-caption.e-caption--with_top_icon.is-center.e-padding_top--10.e-padding_bottom--10
		
		a.e-caption__link( href="" )
			i.e-caption__icon.ti-control-forward

		h4.e-caption__title.is-md Campus Life Video Tour
		p.e-caption__subtitle Having over 9 million students worldwide and more than 50,000 online courses available.
